

<style>/*-----------------------------Embedded style-------------------------------------*/
/*about us page embedded css file created */
table caption{ 
   background-color:#663300;
   color: #fff;
}

table{     /*------------------------table style---------------------------*/
   border: 1px solid #663300;
   border-spacing: 0px;
   width: 100%;
   margin-top: 10px;
   font-size: 30px;
   padding: 5px;
   border-collapse: collapse;
}

th{       /* table header cells with Grey background and Black text */
   border: 1px solid #663300;
   background-color:#ffe066 ;
   color: #000 ;
   font-size: 26px;
   padding: 3px;
}

td{
   border: 1px solid #663300;
   text-align: center;
   background-color:#ffe066 ;
   color: #000 ;
   font-size: 18px;
   padding: 3px;
}

.highlight{
  font-size: 18px;
  background-color: #e6b800;
}
</style>