/*css stylesheet for IE older version*/

header,
footer,
nav,
main,
section,aside{
 display: block;
 
}


#wrapper nav ul li.has_submenu:hover ul.submenu{
  display: block;
}

h1:before{
  content: "THIS WEBSITE MAY NOT APPEAR CORRECTLY IN THE BROWSER"

}