 body{
      font-family: Arial, sans-serif;
      font-size: 16px;
        margin-top: 0;                              
       
      }
      
      #wrapper{
        width: 960px;
        background-color: #000;
        margin: 0 auto;
        position: relative;
        
      }
      
     /* body {
        box-sizing: border-box;
        margin: 0;
      }*/
     
      header{
        background-color: #1a1100;
        min-height: 80px;
        width: 100%;
       
      }
      
      
     
     header #inner_header{
       min-height: 80px;
        width: 960px;
        position: relative;
        margin: 0 auto;
      }
      
      header #logo img{              /* Desktop logo displayed and mobile logo set to 
        position: absolute;             display="none"*/
        top: 15px;
        left: 5px;
       }
       
      header #logo_mobile img{
        display: none;
      }
      
      header #name{                    /* applied text-shadow on header headings and paragraph*/
        font-family: 'Cabin', sans-serif;
        position: absolute;
        top: 20px;
        left: 100px;
        font-size: 30px;
        color: #ff6633;
        text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
        }
      
      #name p{
        font-family: 'Cabin', sans-serif;
        position: absolute;
        top: 20px;
        left: 2px;
        font-size: 16px;
        color: #ff6633;
        text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
       }


    
     /*----------------------------------------------------------------------*/ 
        /* CSS for site navigation */
     /*****************************************navigation********************************************/
      nav {
        height: 40px;
        background-color: #996600;
        text-align: center;
        margin-top: 0px;
        width: 100%;
       }
      
      nav ul{
        margin: 0;
        margin-left: 380px;
      }
   
      nav ul li{
        display: inline-block;
        list-style-type: none;
      
      }
     
      nav ul li a {
        padding: 11px 8px;
        display: block;
        text-decoration: none;
        color:#000;
        font-size:16px;
      
      }

      li.current a {
      color: #fff;
      background: #000;
     }
     
      nav ul li a:hover{
        color: #000 ;
        background-color: #cc8800;
      }
 

      nav #navlist li a.navstyle {
           background-color: #ffb900;
       }
    /*--------------------------------------sub menu1 give id as sub-menu2----------------------------------------------*/
    /*****************************************navigation********************************************/
      nav ul li.menu2{
        position: relative;
      }
    
      nav ul.submenu2{
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 40px;
        left: 1px;
        background-color:#e6b800;
        width: 150px;
        z-index: 1000;
      }
     
      nav ul.submenu2 li{
        display: block;
        text-align: left;
        
      }
     
      nav ul.submenu2 li a{
        padding-left: 16px;
        background-color:#4d2600;
        margin: 3px;
        color: #fff;
        font-size: 12px;
      }
      
     
      nav ul li.menu2:hover ul.submenu2{
        display:block;
       
     }
      
     nav ul.submenu2 li a:hover{
         cursor: pointer;
         color: #000 ;
         background-color: #cca300;
         
      }
    
    /*--------------------submenu2 given id as sub-menu3-----------------------------*/
      nav ul li.menu3{
        position: relative;
      }
    
      nav ul.submenu3{
        display: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 40px;
        left: 1px;
        background-color:#e6b800;
        width: 150px;
        z-index: 1000;
      }
     
      nav ul.submenu3 li{
        display: block;
        text-align: left;
        
      }
     
      nav ul.submenu3 li a{
        padding-left: 16px;
        background-color:#4d2600;
        margin: 3px;
        color: #fff;
        font-size: 12px;
      }
      
     
      nav ul li.menu3:hover ul.submenu3{
        display:block;
       
     }
      
     nav ul.submenu3 li a:hover{
         cursor: pointer;
         color: #000 ;
         background-color: #cca300;
         
       }

   

 /****************************************Homepage*******************************************/
            
    #homepage main{ /* main style start*/
        padding: 1px 10px 1px 10px;
        min-height: 1820px;           /*vendors applied to let it work in all browsers*/
       -webkit-background: linear-gradient(to right,#ffe680,#fff0b3);<
        -moz-background: linear-gradient(to right,#ffe680,#fff0b3);
        -o-background: linear-gradient(to right,#ffe680,#fff0b3);
        -ms-background: linear-gradient(to right,#ffe680,#fff0b3);
        background: linear-gradient(to right,#ffe680,#fff0b3);
      }
      
    #homepage #main_img img{
            position: relative;
            height: 400px;/*Height and width of image box not image*/
            width: 940px;
            border:1px solid #000;
          }
      
     #homepage #register p{ /* Registeration button created */
           position: absolute;
           top: 220px;
           left: 330px;
           border: 1px solid #332200;
           width: 200px;
           height: 30px;
           background: #cc0000;
           color: #fff;
           font-size: 16px;
           font-weight: bold;
           padding-top: 7px;
           padding-left: 7px;
           
         }
       #homepage #register p:hover{ /* hovered over colour changes*/
          background: #ff1a1a;
          color: #fff;
          cursor: pointer;
         }
         
        #homepage #para1{ 
          position: absolute;
          top: 50px;
          left: 330px;
          color: #e69900;
          font-size: 50px;
          font-weight: bold;
          text-shadow: 0px 4px 3px rgba(0,0,0,0.6);
          opacity: 1;                                   
          -webkit-animation: bounce 1s cubic-bezier(.27,-.41,.3,1.5) forwards;
          -moz-animation: bounce 1s cubic-bezier(.27,-.41,.3,1.5) forwards;
          -o-animation: bounce 1s cubic-bezier(.27,-.41,.3,1.5) forwards;
          -ms-animation: bounce 1s cubic-bezier(.27,-.41,.3,1.5) forwards;
           animation: bounce 1s cubic-bezier(.27,-.41,.3,1.5) forwards;
         }/* bounce effects appeares because of the cubic-bezier*/
        
         @keyframes bounce{
        0%{
          transform: scale(0.7, 1);
          top: -100px;
          opacity: 0;
        }                                          
        100%{
          transform: scale(1,1);
          top: 45px;
          opacity: 1;
        }
      }
        
       #homepage #srv_style #tool{
          position: relative;
          border: 1px solid #000;
          background: #000;
          padding: 10px;
          width: 920px;
          height: 80px;
          color: #fff;
          font-size: 50px;
          text-align: center;
       }
       
        #homepage #srv_style #tool_mobile{
          display: none;
        }
       
         
        #homepage #srv_tools_desktop #img1 img{ /*Images is hovered over and animation used*/
          border: 1px solid #fff;
          background: #fff;
          padding: 10px;
          margin: 19px;
          border-radius: 6px;
          position: relative;
          cursor: pointer;
          transform: scale(1,1);
         -webkit-transition: all ease-in-out .7s;
         -ms-transition: all ease-in-out .7s;
         -moz-transition: all ease-in-out .7s;
         -ms-transition: all ease-in-out .7s;
          transition: all ease-in-out .7s;
       }
       
       #homepage #srv_tools_desktop #img1 img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
       
       #homepage #srv_tools_desktop  #img2 img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 525px;
          left: 160px;
          cursor: pointer;
          transform: scale(1,1);
          -webkit-transition: all ease-in-out .7s;
          -moz-transition: all ease-in-out .7s;
          -o-transition: all ease-in-out .7s;
          -ms-transition: all ease-in-out .7s;
           transition: all ease-in-out .7s;
        }
        
       #homepage #srv_tools_desktop  #img2 img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
        
       #homepage #srv_tools_desktop  #img3 img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 525px;
          left: 290px;
          cursor: pointer;
          transform: scale(1,1);
         -webkit-transition: all ease-in-out .7s;
          -moz-transition: all ease-in-out .7s;
          -o-transition: all ease-in-out .7s;
          -ms-transition: all ease-in-out .7s;
           transition: all ease-in-out .7s;
        }
       #homepage #srv_tools_desktop #img3 img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
       
       #homepage #srv_tools_desktop #img4 img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 525px;
          left: 420px;
          cursor: pointer;
          -webkit-transform: scale(1,1);
          -o-transform: scale(1,1);
          -ms-transform: scale(1,1);
          transform: scale(1,1);
          transform: scale(1,1);
          -webkit-transition: all ease-in-out .7s;
          -moz-transition: all ease-in-out .7s;
          -o-transition: all ease-in-out .7s;
          -ms-transition: all ease-in-out .7s;
           transition: all ease-in-out .7s;
        }
        
       #homepage #srv_tools_desktop #img4 img:hover{
           
         -webkit-transform: scale(1.4,1.4);
         -o-transform: scale(1.4,1.4);
         -ms-transform: scale(1.4,1.4);
         -moz-transform: scale(1.4,1.4);
          transform: scale(1.4,1.4);
          background: #cc8800;
        }
      
        #homepage #srv_tools_desktop #img5 img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 525px;
          left: 550px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
         #homepage #srv_tools_desktop #img5 img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
        
          #homepage #srv_tools_desktop #img6 img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 525px;
          left: 680px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        #homepge #srv_tools_desktop #img6 img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
        
         #homepage #srv_tools_desktop #img7 img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 650px;
          left: 30px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
         #homepage #srv_tools_desktop #img7 img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
          #homepage #srv_tools_desktop #img8 img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 650px;
          left: 160px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
         #homepage #srv_tools_desktop #img8 img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
         #homepage #srv_tools_desktop #img9 img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 650px;
          left: 290px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
         #homepage #srv_tools_desktop #img9 img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
          #homepage #srv_tools_desktop  #img10 img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 650px;
          left: 420px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
         #homepage #srv_tools_desktop #img10 img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
          #homepage #srv_tools_desktop #img11 img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 650px;
          left: 550px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
         #homepage #srv_tools_desktop #img11 img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
        
          #homepage #srv_tools_desktop #img12 img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 650px;
          left: 680px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
         #homepage #srv_tools_desktop #img12 img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
        }
       
         #homepage #srv_tools_desktop #img13 img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 650px;
          left: 810px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
         #homepage #srv_tools_desktop #img13 img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
        
          #homepage #srv_tools_desktop #img14 img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 525px;
          left: 810px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
        #homepage #srv_tools_desktop #img14 img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
       /*mobile images are display to none*/
       #homepage #srv_tools_mobile #img1s img{display: none};
       #homepage #srv_tools_mobile #img1s img:hover{display: none;}
       #homepage #srv_tools_mobile #img2s img{display: none};
       #homepage #srv_tools_mobile #img2s img:hover{display: none;}
       #homepage #srv_tools_mobile #img3s img{display: none};
       #homepage #srv_tools_mobile #img3s img:hover{display: none;}
       #homepage #srv_tools_mobile #img4s img{display: none};
       #homepage #srv_tools_mobile #img4s img:hover{display: none;}
       #homepage #srv_tools_mobile #img5s img{display: none};
       #homepage #srv_tools_mobile #img5s img:hover{display: none;}
       #homepage #srv_tools_mobile #img6s img{display: none};
       #homepage #srv_tools_mobile #img6s img:hover{display: none;}
       #homepage #srv_tools_mobile #img7s img{display: none};
       #homepage #srv_tools_mobile #img7s img:hover{display: none;}
       #homepage #srv_tools_mobile #img8s img{display: none};
       #homepage #srv_tools_mobile #img8s img:hover{display: none;}
       #homepage #srv_tools_mobile #img9s img{display: none};
       #homepage #srv_tools_mobile #img9s img:hover{display: none;}
       #homepage #srv_tools_mobile #img10s img{display: none};
       #homepage #srv_tools_mobile #img10s img:hover{display: none;}
       #homepage #srv_tools_mobile #img11s img{display: none};
       #homepage #srv_tools_mobile #img11s img:hover{display: none;}
       #homepage #srv_tools_mobile #img12s img{display: none};
       #homepage #srv_tools_mobile #img12s img:hover{display: none;}
       #homepage #srv_tools_mobile #img13s img{display: none};
       #homepage #srv_tools_mobile #img13s img:hover{display: none;}
       #homepage #srv_tools_mobile #img14s img{display: none};
       #homepage #srv_tools_mobile #img14s img:hover{display: none;}
       
       /*----------------------------------------------------------------------------*/ 
        /* similarly these images are also hovered over and transition applied*/
        #homepage #trending{
          position: absolute;
          top: 780px;
          left: 10px;
          height: 540px;
          width: 925px;
          text-align: center;
          font-size: 40px;
          border: 1px solid #e6ac00;
          padding-left: 12px;
          background: #e6ac00;
          border-radius: 6px;
         
          
         }
         
        #homepage #trending h2{
          margin: 10px;
          font-size: 35px;
        }
        
        #homepage #tren1{
          height: 360px;
          width: 286px;
          margin-top: 15px;
          background-image: url(../images/furnishing.jpg);
          box-shadow: 2px 6px 8px rgba(0,0,0,0.7);
          transform: scale(0.9,0.9);
          transition: all ease-in-out .7s;
        }
         
        #homepage #tren1 h3{
          color: #fff;
          padding: 10px;
          font-size: 20px;
          text-shadow:0px 2px 2px rgba(0,0,0,0.6); 
        }
        
        #homepage #tren1 p{
         width: 266px;
         position: absolute;
         top: 325px;
         left: 0px;
         background: #fff;
         color: #000;
         text-align: left;
         box-shadow: 2px 6px 8px rgba(0,0,0,0.7);
         padding: 10px;
         font-size: 16px;
        }
        
        #homepage #tren1:hover{
            
          transform: scale(1,1);
          background-image: url(../images/furnishing.jpg);
          
        
        }
       /*-------------SECOND TRENDING IMAGE------------------------------------------------------*/
       
        #homepage #tren2{
          position: absolute;
          top: 60px;
          left: 330px;
          height: 330px;
          width: 286px;
          margin-top: 15px;
          background-image: url(../images/lawn.jpg);
          display: inline-block;
          box-shadow: 2px 6px 8px rgba(0,0,0,0.7);
          transform: scale(0.9,0.9);
          transition: all ease-in-out .7s;
        }
         
        #homepage #tren2 h3{
          margin: 0;
          color: #fff;
          text-shadow:0px 2px 2px rgba(0,0,0,0.6); 
          font-size: 20px;
          padding: 10px;
        
        }
        
        #homepage #tren2 p{
         position: absolute;
         top: 310px;
         left: 0px;
         width: 266px;
         background: #fff;
         color: #000;
         text-align: left;
         box-shadow: 2px 6px 8px rgba(0,0,0,0.7);
         padding: 10px;
         font-size: 16px;
        }
        
        #homepage #tren2:hover{
            
           transform: scale(1,1);
           background-image: url(../images/lawn.jpg);
        
        }
       
       /*---------------THIRD TRENDING---------------------------------------------------------------*/
       
       #homepage #tren3{
          position: absolute;
          top: 60px;
          left: 640px;
          height: 330px;
          width: 280px;
          margin-top: 15px;
          background-image: url(../images/Beauty.jpg);
          display: inline-block;
          box-shadow: 2px 6px 8px rgba(0,0,0,0.7);
          transform: scale(0.9,0.9);
          transition: all ease-in-out .7s;
        }
         
        #homepage #tren3 h3{
          margin: 0;
          color: #fff;
          text-shadow:0px 2px 2px rgba(0,0,0,0.6); 
          padding: 10px;
          font-size: 20px;
        }
        
       #homepage #tren3 p{
         position: absolute;
         top: 310px;
         left: 0px;
         width: 260px;
         background: #fff;
         color: #000;
         text-align: left;
         box-shadow: 2px 6px 8px rgba(0,0,0,0.7);
         padding: 10px;
         font-size: 16px;
        }
        
       #homepage #tren3:hover{
            
          transform: scale(1,1);
          background-image: url(../images/Beauty.jpg);
        
        }
       
      /*----------HOME SATISFY COMMENTS BY CUSTOMERS----------------------------------------------------------*/
        
      #homepage #satisfy{
          position: absolute;
          padding: 15px;
          top: 1330px;
          height: 450px;
          width: 908px;
          background:#ffd480;
          border: 1px solid #ffd480;
          border-radius: 6px;
       }
       
        #homepage #satisfy h3,h4{
          font-size: 30px;
          margin: 0;
          text-align: center;
          color:#000;
          padding: 5px;
          text-shadow: 0px 2px 2px rgba(0,0,0,0.6); 
        
        }
        
        #homepage #cmt1{
          position: relative;
          height: 150px;
          width: 350px;
          margin-top: 10px;
          border: solid 1px #fff;
          background: #fff;
          color: #000;
          box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
          padding: 10px;
          
        }
        
        #homepage #cmt1 p{
          padding: 10px;
          font-size: 14px;
          text-align: left;
          margin: 0;
        }
        
        #homepage #cmt1 img{
          position: absolute;
          top: 120px;
          left: 250px;
          background-repeat: no-repeat;
          height: 20px;
          margin: 0;
        
        }
        
        #homepage #cmt2{
          position: absolute;
          top: 87px;
          left:400px;
          margin-top: 15px;
          height: 170px;
          width: 260px;
          border: solid 1px #fff;
          background: #fff;
          color: #000;
          box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
       
        }
         
         #homepage #cmt2 p{
          padding: 20px;
          font-size: 14px;
          text-align: left;
          margin: 0;
        }
        
         
        #homepage #cmt2 img{
          position: absolute;
          top: 120px;
          left: 150px;
          background-repeat: no-repeat;
          height: 20px;
          margin: 0;
        }
        
        #homepage #cmt3{
          position: absolute;
          top: 87px;
          left:675px;
          margin-top: 15px;
          height: 310px;
          width: 240px;
          border: solid 1px #fff;
          background: #fff;
          color: #000;
          box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        }
        
       #homepage #cmt3 p{
          padding: 20px;
          font-size: 14px;
          text-align: left;
          margin: 0;
        }
        
         
       #homepage #cmt3 img{
          position: absolute;
          top: 260px;
          left: 150px;
          background-repeat: no-repeat;
          height: 20px;
          margin: 0;
        }
       
       #homepage #cmt4{
          position: absolute;
          top: 290px;
          margin-top: 2px;
          height: 120px;
          width: 243px;
          border: solid 1px #fff;
          background: #fff;
          color: #000;
          box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        }
          
       #homepage #cmt4 p{
          padding: 15px;
          font-size: 14px;
          text-align: left;
          margin: 0;
        }
        
         
      #homepage #cmt4 img{
          position: absolute;
          top: 75px;
          left: 150px;
          background-repeat: no-repeat;
          height: 20px;
          margin: 0;
        }
        
       #homepage #cmt5{
          position: absolute;
          top: 290px;
          left: 270px;
          margin-top: 2px;
          height: 120px;
          width: 390px;
          border: solid 1px #fff ;
          color: #000;
          background: #fff;
          box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        }
       
       #homepage #cmt5 p{
          padding: 15px;
          font-size: 14px;
          text-align: left;
          margin: 0;
        }
        
         
       #homepage #cmt5 img{
          position: absolute;
          top: 76px;
          left: 280px;
          background-repeat: no-repeat;
          height: 20px;
          margin: 0;
        }
  /*************************************Furnishing*******************************************/
      
      #furnishing main{ /* main style start*/
          padding: 1px 10px 1px 10px;
          min-height: 2160px;
          background:#ffdd99;
        }
      
     #furnishing #main_f_a img{
          height: 500px;
          width: 940px;
          border: 1px solid #000;
       }
     
    #furnishing h1{
       position: relative;
       padding-left: 50px;
       height: 70px;
       width: 300px;
       box-shadow: 2px 2px 4px rgba(133,9,9,0.6);
       font-size: 50px;
       font-weight: normal;
       color:#000;
     }
     
     #furnishing #main_para1{
        position: absolute;
        top: 50px;
        left: 50px;
        color:  #fff;
        font-size: 40px;
        font-weight: normal;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.6);
        opacity: 1;
        animation: bounce 1s cubic-bezier(.27,-.41,.3,1.5) forwards;

       }
     
       @keyframes bounce{
        0%{
          transform: scale(0.7, 1);
          top: -100px;
          opacity: 0;
        }                                          
        100%{
          transform: scale(1,1);
          top: 45px;
          opacity: 1;
        }
      }
        
      /*----------------------------------------------------------------------------*/
        #furnishing label{
         font-family: 'Roboto', sans-serif;
         font-size: 20px;
         font-weight: 700;
         
       }

       #furnishing input[type="text"],
       #furnishing input[type="tel"],
       #furnishing input[type="date"]{
          width: 60%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-size: 18px;
        }

      #furnishing textarea{
          width: 60%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-size: 18px; 
         }

  

     #furnishing input[type=submit]
            {
          width: 20%;
          background-color:#663300;
          color:#e6e6e6 ;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-family: 'Roboto', sans-serif;
          font-size:18px; 
        }
        
         #furnishing input[type=reset]
                                  { 
          width: 20%;
          background-color:#663300;
          color:#e6e6e6 ;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-family: 'Roboto', sans-serif;
          font-size:18px; 
        }
        
      #furnishing #price{
         position: absolute;
         top: 540px;
         left: 610px;
         border: 1px solid  #663300;
         height: 600px;
         width: 250px;
         color: #fff;
         background-color: #663300;
         border-radius: 9px;
         box-shadow:3px 3px 4px rgba(0,0,0,0.6); 
         padding: 30px;
      
      }
      
      #furnishing #price h3{
        font-size: 25px;
        color: #fff;
      }
      
      #furnishing #price p{
        line-height: 1.7em;
      }
      
     #furnishing #before_after{
        position: absolute;
        top: 1440px;
        left: 10px;
        height: 700px;
        width: 925px;
        text-align: center;
        font-size: 25px;
        border: 1px solid  #b37700;
        padding-left: 12px;
        margin: 0;
        background-color:   #b37700 ;
        border-radius: 6px;
        text-shadow: 0px 2px 2px rgba(0,0,0,0.6);

       }
       
      #furnishing #before_after h3{
         margin: 10px;
         padding: 10px;
         text-align: left;
       }
      
      #furnishing #b_a1{
        position: relative;
        border: 1px solid #cc8800;
        background-image: url(../images/blackboxb1.jpg);
         height: 300px;
         width: 300px;
         background-repeat: no-repeat;
         transform: scale(0.9,0.9);
         transition: all ease-in-out .7s;
         border-radius: 6px;
         box-shadow:0px 2px 2px rgba(0,0,0,0.6);  
      }
      
       #furnishing #b_a1:hover{
            
          transform: scale(1,1);
          background-image: url(../images/blackbox1.jpg);*/
       }
       
       #furnishing #b_a2{
         position: absolute;
         top:72px;
         left: 315px;
         border: 1px solid  #cc8800 ;
         background-image: url(../images/whiteb1.jpg);
         height: 300px;
         width: 300px;
         background-repeat: no-repeat;
         transform: scale(0.9,0.9);
         transition: all ease-in-out .7s;
         border-radius: 6px;
         box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
      }
      
      #furnishing #b_a2:hover{
         transform: scale(1,1);
          background-image: url(../images/white.jpg);
       }
     
      #furnishing #b_a3{
         position: absolute;
         top:72px;
         left: 620px;
         background-image: url(../images/chairs-b1.jpg);
         height:300px;
         width: 300px;
         background-repeat: no-repeat;
         transform: scale(0.9,0.9);
         transition: all ease-in-out .7s;
         border-radius: 6px;
         box-shadow:0px 2px 2px rgba(0,0,0,0.6);
         border: 1px solid  #cc8800;
      }
      
      #furnishing #b_a3:hover{
          transform: scale(1,1);
          background-image: url(../images/chairs.jpg);
       }
      
      
      #furnishing #b_a4{
         position: absolute;
         top:370px;
         left: 12px;
         background-image: url(../images/chair_two1.jpg);
         height:300px;
         width: 300px;
         transform: scale(0.9,0.9);
         transition: all ease-in-out .7s;
         border-radius: 6px;
         box-shadow:0px 2px 2px rgba(0,0,0,0.6);
         border: 1px solid #cc8800;
      }
      
      #furnishing #b_a4:hover{
          transform: scale(1,1);
          background-image: url(../images/chair_two.jpg);
       }
      
       #furnishing #b_a5{
         position: absolute;
         top:370px;
         left: 295px;
         border: 1px solid  #cc8800;
         background-image: url(../images/tableb1.jpg);
         height: 300px;
         width: 300px;
         background-repeat: no-repeat;
         transform: scale(0.9,0.9);
         transition: all ease-in-out .7s;
         border-radius: 6px;
         box-shadow:0px 1px 2px rgba(0,0,0,0.6);
         margin-left: 20px;
       }
       
        #furnishing #b_a5:hover{
            
          transform: scale(1,1);
          background-image: url(../images/table.jpg);
       }
       
      #furnishing #b_a6{
         position: absolute;
         top:370px;
         left:620px;
         border: 1px solid #cc8800 ;
         background-image: url(../images/show_piece1.jpg);
         height: 300px;
         width: 300px;
         background-repeat: no-repeat;
         transform: scale(0.9,0.9);
         transition: all ease-in-out .7s;
         border-radius: 6px;
         transform: scale(0.9,0.9);
         transition: all ease-in-out .7s;
         box-shadow:0px 1px 2px rgba(0,0,0,0.6);
       }
       
         #furnishing #b_a6:hover{
            
          transform: scale(1,1);
          background-image: url(../images/show_piece.jpg)
          
       }
      
  /************************************About_Us**********************************************/
    #information main{ /* main style start*/
        padding: 1px 10px 1px 10px;
        min-height: 1400px;
        background: linear-gradient(to right,#ffe680,#fff0b3);
        position: relative;
        z-index: 1;
       
      }
      
      
      
    #information #about_us{
         position: relative;
         height: 400px;
         width: 940px;
         border: 1px solid #aaa;
      }
      
    #information #about_us h1{
         position: absolute;
         top: 150px;
         left:400px;
         color: #fff;
         text-shadow: 0px 4px 3px rgba(0,0,0,0.6);
         font-size: 40px;
      }
      
    #information #about_us p{
         position: absolute;
         top: 198px;
         left:50px;
         color: #fff;
         text-shadow: 0px 4px 3px rgba(0,0,0,0.6);
         font-size: 23px;
        
      }
      
    #information #about_us_mobile{
        display: none;
      }
      
   #information #about_us_content h2{
          margin-bottom: 1px;
          font-size: 30px;
          
       
       }
      
    #information #line{
        height: 1px;
        width: 940px;
        background-color: #000;
        margin-top: 1px;
      }
      
    #information #about_us_content p{
          margin-top: 50px;
          margin-left: 5px;
          margin-right: 5px;
          font-size: 18px;
          line-height: 1.6em;
      
      }
      
    #information #it_works{
         position: relative;
         height: 350px;
         width: 940px;
         border: 1px solid #cc7a00;
         background-color: #cc7a00;
         border-radius: 4px;
         margin-top: 20px;
      }
      
     #information #it_works h2{
         font-size: 40px;
         font-weight: normal;
         padding-left: 180px;
         margin-left: 150px;
         color: #fff;
         text-shadow:  0px 4px 3px rgba(0,0,0,0.6);
      }
      
    #information #it_works #img1 img{
          position: absolute;
          top: 100px;
          left: 790px;
         }

    #information #it_works #img1 p{
         position: absolute;
         top: 190px;
         left: 790px;
         font-weight: bold;
         line-height: 1.2em;
       } 
       
       
      
    #information #it_works #img2 img{
        position: absolute;
        top: 109px;
        left: 510px;
       }
       
    #information #it_works #img2 p{
         position: absolute;
         top: 190px;
         left: 530px;
         font-weight: bold;
         line-height: 1.2em;
       } 
       
       
        
    #information #it_works #img3 img{
          position: absolute;
          top: 110px;
          left: 275px;
         }
       
       
    #information #it_works #img3 p{
         position: absolute;
         top: 190px;
         left: 280px;
         font-weight: bold;
         line-height: 1.2em;
       } 
       
       
   #information #it_works #img4 img{
        position: absolute;
        top: 110px;
        left: 40px;
       }
       
    #information #it_works #img4 p{
         position: absolute;
         top: 190px;
         left: 40px;
         font-weight: bold;
         line-height: 1.2em;
       } 
       
      
    #information #it_works_mobile{
          display: none;
       }
  /***************************************Services******************************************/
    #provides main{ /* main style start*/
        padding: 1px 10px 1px 10px;
        min-height: 1520px;
        background-color:#fff3cc;
      }
      
    #provides #cleaning_box{
        position: relative;
        height: 550px;
        width: 940px;
        border: 1px solid #cc6600;       
        border-radius: 6px;
        background-color: #cc6600;
       }
      
    #provides #cleaning{
        position: absolute;
        top: 70px;
        left: 90px;
        height: 400px;
        width: 770px;
        border: 1px solid #cc6600;
        background-image: url(../images/cleaning_img.jpg);        
        background-repeat: no-repeat;
        border-radius: 6px;
        box-shadow: 0px 4px 3px rgba(0,0,0,0.6);
      }
      
    #provides #book{
        position: absolute;
        top: 60px;
        left: 80px;
        height: 290px;
        width: 300px;
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 4px;
      }
      
    #provides #book h3{
        padding: 10px;
        text-align: center;
        background-color:#ffcc00;
        font-size: 20px;
      }
      
    #provides #book p{
        padding: 12px;
        text-align: center;
        line-height: 1.5em;
        font-size: 18px;
      }
      
    #provides #button_desktop{
       
        margin-left: 100px;
        height: 30px;
        width: 100px;
        border: 1px solid #ffcc00;
        border-radius: 4px;
        background-color: #ffcc00;
        box-shadow: 0px 4px 3px rgba(0,0,0,0.6);
        }
        
    #provides #button_mobile{
         display: none;
       }
      
    #provides #button_desktop p{
        position: absolute;
        top: 180px;
        left: 110px;
       }
       
    #provides #button_mobile p{
         display: none;
       }
      
      
    #provides #service1{
        position: relative;
        height: 500px;
        width: 920px;
        border: 1px solid #000;
        margin-top: 10px;
        border-radius: 6px;
        padding-left: 21px;
      }
      
    #provides #srv1a_img{
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6);
        background-image: url(../images/house-cleaners.jpg);
        }
      
    #provides #srv1a_img p{
         position: absolute;
         top: 315px;
         left: 30px;
         line-height: 1.3em;
         
        }
        
    #provides #srv1a_img h3{
         position: absolute;
         top: 275px;
         left: 30px;
        
        }
      
    #provides #srv1b_img{
        position: absolute;
        top: 67px;
        left: 330px;
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6);
        background-image: url(../images/house_cleaner2.jpg);
      }
      
    #provides #srv1b_img p{
         position: absolute;
         top: 250px;
         line-height: 1.3em;
         
        }
      
    #provides #srv1c_img{
        position: absolute;
        top: 67px;
        left: 640px;
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6);  
        background-image: url(../images/house_cleaner3.jpg);
      }
    #provides #srv1c_img p{
        position: absolute;
        top: 250px;
        line-height: 1.3em;
      
      }
 /*------------------------------------------------------------------------------------*/     
    #provides #service2{
        position: relative;
        height: 500px;
        width: 920px;
        border: 1px solid #000;
        margin-top: 10px;
        border-radius: 6px;
        padding-left: 21px;
      }
      
   #provides #srv2a_img{
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
        background-image: url(../images/electician1.jpg);
      }
      
    #provides #srv2a_img p{
         position: absolute;
         top: 315px;
         left: 30px;
         line-height: 1.3em;
         
        }
        
    #provides #srv2a_img h3{
         position: absolute;
         top: 275px;
         left: 30px;
        
        }
      
    #provides #srv2b_img{
        position: absolute;
        top: 67px;
        left: 330px;
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6);
        background-image: url(../images/electrician2.jpg);
      }
      
    #provides #srv2b_img p{
         position: absolute;
         top: 250px;
         line-height: 1.3em;
         
        }
      
    #provides #srv2c_img{
        position: absolute;
        top: 67px;
        left: 640px;
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6);  
        background-image: url(../images/electrician-3.jpg);
      }
    #provides #srv2c_img p{
        position: absolute;
        top: 250px;
        line-height: 1.3em;
      }
      /*---------------------------------------------------------------------------*/
      
     #provides #service3{
        position: relative;
        height: 500px;
        width: 920px;
        border: 1px solid #000;
        margin-top: 10px;
        border-radius: 6px;
        padding-left: 21px;
      }
      
     #provides #srv3a_img{
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6);
        background-image: url(../images/furniture_assembly1.jpg);
      }
      
    #provides #srv3a_img p{
         position: absolute;
         top: 315px;
         left: 30px;
         line-height: 1.3em;
         
        }
        
    #provides #srv3a_img h3{
         position: absolute;
         top: 275px;
         left: 30px;
        
        }
      
     #provides #srv3b_img{
        position: absolute;
        top: 67px;
        left: 330px;
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
        background-image: url(../images/furniture2.jpg);
      }
      
    #provides #srv3b_img p{
         position: absolute;
         top: 250px;
         line-height: 1.3em;
         
        }
      
    #provides #srv3c_img{
        position: absolute;
        top: 67px;
        left: 640px;
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
         background-image: url(../images/furniture3.jpg);
      }
     #provides #srv3c_img p{
        position: absolute;
        top: 250px;
        line-height: 1.3em;
      }
     /*-----------------------------------------------------------------------------*/
     
      /*------------------------------------------------------------------------------*/
    #provides #service4{
        position: relative;
        height: 500px;
        width: 920px;
        border: 1px solid #000;
        margin-top: 10px;
        border-radius: 6px;
        padding-left: 21px;
      }
      
    #provides #srv4a_img{
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
         background-image: url(../images/lawn1.jpg);
      }
      
    #provides #srv4a_img p{
         position: absolute;
         top: 315px;
         left: 30px;
         line-height: 1.3em;
         
        }
        
     #provides #srv4a_img h3{
         position: absolute;
         top: 275px;
         left: 30px;
        
        }
      
    #provides #srv4b_img{
        position: absolute;
        top: 67px;
        left: 330px;
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
         background-image: url(../images/lawn2.jpg);
      }
      
    #provides #srv4b_img p{
         position: absolute;
         top: 250px;
         line-height: 1.3em;
         
        }
      
    #provides #srv4c_img{
        position: absolute;
        top: 67px;
        left: 640px;
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
        background-image: url(../images/lawn3.jpg);
      }
    #provides #srv4c_img p{
        position: absolute;
        top: 250px;
        line-height: 1.3em;
      }
      /*------------------------------------------------------------------------------*/
    #provides #service5{
        position: relative;
        height: 500px;
        width: 920px;
        border: 1px solid #000;
        margin-top: 10px;
        border-radius: 6px;
        padding-left: 21px;
      }
      
    #provides #srv5a_img{
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
         background-image: url(../images/plumber1.jpg);
      }
      
    #provides #srv5a_img p{
         position: absolute;
         top: 315px;
         left: 30px;
         line-height: 1.3em;
         
        }
        
    #provides #srv5a_img h3{
         position: absolute;
         top: 275px;
         left: 30px;
        
        }
      
    #provides #srv5b_img{
        position: absolute;
        top: 67px;
        left: 330px;
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
        background-image: url(../images/plumbler2.jpg);
      }
      
    #provides #srv5b_img p{
         position: absolute;
         top: 250px;
         line-height: 1.3em;
         
        }
      
    #provides #srv5c_img{
        position: absolute;
        top: 67px;
        left: 640px;
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6);
        background-image: url(../images/plumber3.jpg);
      }
    #provides #srv5c_img p{
        position: absolute;
        top: 250px;
        line-height: 1.3em;
      }
      /*-------------------------------------------------------------------------------*/
    #provides #service6{
        position: relative;
        height: 500px;
        width: 920px;
        border: 1px solid #000;
        margin-top: 10px;
        border-radius: 6px;
        padding-left: 21px;
        margin-bottom: 10px;
      }
      
    #provides #srv6a_img{
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
        background-image: url(../images/painter4.jpg);
      }
      
    #provides #srv6a_img p{
         position: absolute;
         top: 315px;
         left: 30px;
         line-height: 1.3em;
         
        }
        
    #provides #srv6a_img h3{
         position: absolute;
         top: 275px;
         left: 30px;
        
        }
      
    #provides #srv6b_img{
        position: absolute;
        top: 67px;
        left: 330px;
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6);
         background-image: url(../images/painter2.jpg);
      }
      
    #provides #srv6b_img p{
         position: absolute;
         top: 250px;
         line-height: 1.3em;
         
        }
      
    #provides #srv6c_img{
        position: absolute;
        top: 67px;
        left: 640px;
        border: 1px solid #cc8800;
        height: 200px;
        width: 280px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
        background-image: url(../images/paint3.jpg);
      }
    #provides #srv6c_img p{
        position: absolute;
        top: 250px;
        line-height: 1.3em;
      }
      
  /************************************Registeration*****************************************/
     #sign_up .errors li{
       color: #990000;
       font-size: 24px;
    }

    #sign_up main{ /* main style start*/
        padding: 1px 10px 1px 10px;
        min-height: 1400px;
        background-color:#fff3cc;
        
      }
      
    #sign_up label{
         font-family: 'Roboto', sans-serif;
         font-size: 20px;
         font-weight: 700;
         margin-left: 10px;
         
       }

    #sign_up input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="tel"],
      input[type="number"],
      input[type="url"],
      input[type="date"]{
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-size: 18px;
      }

     #sign_up textarea{
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-size: 18px; 
         }

    #sign_up input[type=submit],
     input[type=reset]{
          width: 30%;
          background-color: #ffb31a;
          color: black;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-family: 'Roboto', sans-serif;
          font-size:18px; 
         }
         
    #sign_up #box1{
        position: relative;
        height: 570px;
        width: 900px;
        border: 1px solid #000;
        color: black;
        background-color: #ffd9b3;
        border-radius: 6px;
        padding: 20px;
       }
       
    #sign_up #content1{
         height: 200px;
         width: 400px;
         margin: 10px;
         padding:10px;
       }
       
     #sign_up #content2{
         position: absolute;
         top: 76px;
         left: 480px;
         height: 200px;
         width: 400px;
         margin: 10px;
         padding:10px;
       }
       
       #sign_up #content3{
         position: absolute;
         top: 310px;
         left: 20px;
         height: 200px;
         width: 400px;
         margin: 10px;
         padding:10px;
       }
       
      #sign_up #content4{
         position: absolute;
         top: 310px;
         left: 480px;
         height: 200px;
         width: 400px;
         margin: 10px;
         padding:10px;
       }

   /************************************UserDetails*****************************************/
    
    #user_details main{ /* main style start*/
        padding: 1px 10px 1px 10px;
        min-height: 500px;
        background-color:#fff;
        
     }

   #user_details #detail{
        padding: 40px;
        background-color: #f5d069;
   }
   
    .flash.success {
          background: #dff0d8;
          color: #009900;
          border: 1px solid #009900;
          text-align: center;
          line-height: 50px;
          font-size: 16px;
        }

   

        .flash.error {
          background:  #ffffe6;
          color: green;
          border: 1px solid  #ffffe6;
          text-align: center;
          border-radius: 10px;
          margin-top: 10px;
          line-height: 50px;
          font-size: 16px;
        }

    /************************************Login*****************************************/
    
    #userlogin main{ /* main style start*/
        padding: 25px 10px 1px 10px;
        min-height: 500px;
        background-color:#fff;
        
     }

   #userlogin #loginin{
        padding: 30px;
        height: 400px;
        width: 900px;
        border: 1px solid #f5d069;
        background-color: #f5d069;
     }

   #userlogin input[type=submit]{
          width: 30%;
          background-color: #ffb31a;
          color: black;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-family: 'Roboto', sans-serif;
          font-size:18px; 
                 }

        .flash.success {
          background:  #ffffe6;
          color: red;
          border: 1px solid   #ffffe6;
          text-align: center;
          border-radius: 10px;
          margin-top: 10px;
          line-height: 50px;
          font-size: 16px;
        }


   
  /***********************************footer*************************************************/
      footer{
          height: 100px;
          background-color: #000;
          width: 100%;
          color: #fff;
          }
      
        footer p{
          padding: 15px;
          margin: 0;
        } 
     
       
        footer #inner_footer{
          min-height: 100px;
          width: 960px;
          position: relative;
          margin: 0 auto;
        }
      
       #inner_footer strong{
          position: absolute;
          left: 700px;
          top: 70px;
          left: 650px;
        }
 
      #inner_footer #follow_us{
         position: absolute;
         top: 20px;
         left: 650px;
         height: 40px;
         width: 200px;
         /*border: 1px solid #fff;*/
        }

      
      
      