 body{
          font-family: Arial, sans-serif;
          font-size: 16px;
          margin-top: 0;
        }
      
      #wrapper{
        width: 100%;
        /*background-color: #ddf;*/
        margin: 0 auto;
        position: relative;
      }
      
      header{
        background-color: #1a1100;
        min-height: 60px;
        width: 100%;
       
      }
      header #inner_header{
        min-height: 50px;
        width: 960px;
        position: relative;
        margin: 0 auto;
       }
      
       header #logo img{
        display: none;
        }
       
      header #logo_mobile img{
        position: absolute;
        top: 10px;
        left:47px;
       }
      
      header #name{
        font-family: 'Cabin', sans-serif;
        position: absolute;
        top: 10px;
        left: 110px;
        font-size: 20px;
        color: #ff6633;
        text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
        }
      
      #name p{
        font-family: 'Cabin', sans-serif;
        position: absolute;
        top: 10px;
        left: 2px;
        font-size: 13px;
        color: #ff6633;
        text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
       }
       
   
      /*----------------------------------------------------------------------*/ 
        /* CSS for site navigation */
      
        nav{
          margin-top: 60px;
          position: absolute;
          top: -50px;
          left: 0px;
          z-index: 1000;
          }

      
      nav a#menubutton{
          position: absolute;
          display: block;
          top: 2px;
          left: 12px;
          width: 36px;
          height: 33px;
          border: 2px solid #000;
          background-color: #ccc;
          background:black;
          border-radius: 4px;
       }
      
      nav a#menubutton span{
          display: block;
          height: 3px; 
          background-color: #fff;
          margin-bottom: 5px;
          margin-top: 6px;
          margin-left: 5px;
          margin-right: 5px;
          border-radius: 4px;
        }
      
       nav ul#navlist{
            transform: rotateX(90deg);
            opacity: 0;
            margin: 0;
            list-style-type: none;
          
          }
          nav:hover ul#navlist{
            transform: rotateX(0deg);
            opacity: 1;
          }

          ul#navlist li{
            position: relative;
            top: 35px;
            left: -20px;
            padding: 15px;
            width: 130px;
            background-color: #4d2600;
            border-top: 1px solid #BDC3C7;
            border: 1px solid #e6b800;
            font-size:13px; 
           }
          
          ul#navlist li a{
            color: #fff;
            text-decoration: none;
          }
         
          ul#navlist ul.submenu2{
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
            position: absolute;
            left: 89%;
            top: -35px;
            list-style-type: none;
          }
          
          ul#navlist ul.submenu3{
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
            position: absolute;
            left: 89%;
            top: -35px;
            list-style-type: none;
          }
          
          ul#navlist li:hover > ul{
            opacity: 1;
            visibility: visible;
          }
          
          ul#navlist li:hover{
            background-color: #cca300;
          }
          
      
      
/**************************************homepage********************************************/
     #homepage main{ /* main style start*/
        padding: 1px 10px 1px 10px;
        min-height: 1410px;
        background: linear-gradient(to right,#ffe680,#fff0b3);
        
      }
      
     #homepage #main_img img{
            position: relative;
            height: 280px;/*Height and width of image box not image*/
            width: 100%;
            border:1px solid #000;
      }
      
      #homepage #register p{
           position: absolute;
           top: 120px;
           left: 200px;
           border: 1px solid #332200;
           width: 170px;
           height: 20px;
           background: #cc0000;
           color: #fff;
           font-size: 14px;
           font-weight: bold;
           padding-top: 7px;
           padding-left: 7px;
           
         }
       
       #homepage #register p:hover{
          background: #ff1a1a;
          color: #fff;
          cursor: pointer;
         }
       #homepage #para1{
          position: absolute;
          top: 50px;
          left: 200px;
          color: #e69900;
          font-size: 24px;
          font-weight: bold;
          text-shadow: 0px 4px 3px rgba(0,0,0,0.6);
          opacity: 1;
          animation: bounce 1s cubic-bezier(.27,-.41,.3,1.5) forwards;
         }
        
      @keyframes bounce{
        0%{
          transform: scale(0.7, 1);
          top: -100px;
          opacity: 0;
        }                                          
        100%{
          transform: scale(1,1);
          top: 50px;
          opacity: 1;
        }
      }
        
      #homepage #srv_style #tool_mobile{
        position: relative;
        border: 1px solid #000;
        background: #000;
        padding: 8px;
        width: 98%;
        height: 40px;
        color: #fff;
        font-size: 30px;
        text-align: center;
       }
       
       #homepage #srv_style #tool{
         display: none;
       }
      
      #homepage #srv_tools_mobile #img1s img{
          border: 1px solid #fff;
          background: #fff;
          padding: 10px;
          border-radius: 6px;
          position: absolute;
          top: 360px;
          left: 25px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
       }
      
      #homepage #srv_tools_mobile #img1s img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
     
       
      #homepage #srv_tools_mobile  #img2s img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 360px;
          left: 115px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
        #homepage #srv_tools_mobile #img2s img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
        
        #homepage #srv_tools_mobile #img3s img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 360px;
          left: 205px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
       }
       
       #homepage #srv_tools_mobile #img3s img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
       
       #homepage #srv_tools_mobile #img4s img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 360px;
          left: 295px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
       #homepage #srv_tools_mobile #img4s img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
      
        #homepage #srv_tools_mobile #img5s img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 360px;
          left: 390px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
         #homepage #srv_tools_mobile #img5s img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
        
         #homepage #srv_tools_mobile #img6s img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 360px;
          left: 480px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        #homepage #srv_tools_mobile #img6s img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
        
         #homepage #srv_tools_mobile #img7s img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 450px;
          left: 25px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
        #homepage #srv_tools_mobile #img7s img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
         #homepage #srv_tools_mobile #img8s img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 450px;
          left: 115px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
        #homepage #srv_tools_mobile #img8s img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
         #homepage #srv_tools_mobile #img9s img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 450px;
          left: 205px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
         #homepage #srv_tools_mobile #img9s img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
          #homepage #srv_tools_mobile #img10s img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 450px;
          left: 295px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
         #homepage #srv_tools_mobile #img10s img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
        #homepage #srv_tools_mobile #img11s img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 450px;
          left: 390px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
        #homepage #srv_tools_mobile #img11s img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
        
         #homepage #srv_tools_mobile #img12s img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 450px;
          left: 480px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
         #homepage #srv_tools_mobile #img12s img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
        }
       
        #homepage #srv_tools_mobile #img13s img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 450px;
          left: 570px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
        #homepage #srv_tools_mobile #img13s img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
        
         #homepage #srv_tools_mobile #img14s img{
          border: 1px solid #fff;
          background: #fff;
          border-radius: 6px;
          padding: 10px;
          position: absolute;
          top: 360px;
          left: 570px;
          cursor: pointer;
          transform: scale(1,1);
          transition: all ease-in-out .7s;
        }
        
         #homepage #srv_tools_mobile #img14s img:hover{
           
          transform: scale(1.4,1.4);
          background: #cc8800;
       }
        
       #homepage #srv_tools_desktop #img1 img{display: none};
       #homepage #srv_tools_desktop #img1 img:hover{display: none;}
       #homepage #srv_tools_desktop #img2 img{display: none};
       #homepage #srv_tools_desktop #img2 img:hover{display: none;}
       #homepage #srv_tools_desktop #img3 img{display: none};
       #homepage #srv_tools_desktop #img3 img:hover{display: none;}
       #homepage #srv_tools_desktop #img4 img{display: none};
       #homepage #srv_tools_desktop #img4 img:hover{display: none;}
       #homepage #srv_tools_desktop #img5 img{display: none};
       #homepage #srv_tools_desktop #img5 img:hover{display: none;}
       #homepage #srv_tools_desktop #img6 img{display: none};
       #homepage #srv_tools_desktop #img6 img:hover{display: none;}
       #homepage #srv_tools_desktop #img7 img{display: none};
       #homepage #srv_tools_desktop #img7 img:hover{display: none;}
       #homepage #srv_tools_desktop #img8 img{display: none};
       #homepage #srv_tools_desktop #img8 img:hover{display: none;}
       #homepage #srv_tools_desktop #img9 img{display: none};
       #homepage #srv_tools_desktop #img9 img:hover{display: none;}
       #homepage #srv_tools_desktop #img10 img{display: none};
       #homepage #srv_tools_desktop #img10 img:hover{display: none;}
       #homepage #srv_tools_desktop #img11 img{display: none};
       #homepage #srv_tools_desktop #img11 img:hover{display: none;}
       #homepage #srv_tools_desktop #img12 img{display: none};
       #homepage #srv_tools_desktop #img12 img:hover{display: none;}
       #homepage #srv_tools_desktop #img13 img{display: none};
       #homepage #srv_tools_desktop #img13 img:hover{display: none;}
       #homepage #srv_tools_desktop #img14 img{display: none};
       #homepage #srv_tools_desktop #img14 img:hover{display: none;}
     
     
     #homepage #trending{
          position: absolute;
          top: 540px;
          left: 10px;
          height: 350px;
          width: 95%;
          text-align: center;
          font-size: 40px;
          border: 1px solid #e6ac00;
          padding-left: 12px;
          background: #e6ac00;
          border-radius: 6px;
        }
         
    #homepage #trending h2{
          margin: 10px;
          font-size: 25px;
        }
        
    #homepage #tren1{
          position: relative;
          height: 260px;
          width: 190px;
          margin-top: 10px;
          background-image: url(../images/furnishing_mobile.jpg);
          box-shadow: 2px 6px 8px rgba(0,0,0,0.7);
          transform: scale(0.9,0.9);
          transition: all ease-in-out .7s;
        }
         
    #homepage #tren1 h3{
          color: #fff;
          font-size: 18px;
          padding: 10px;
        }
         
    #homepage #tren1 p{
          display: none;
        }
        
    #homepage #tren1:hover{
            
          transform: scale(1,1);
          background-image: url(../images/furnishing_mobile.jpg);
        }
       /*---------------------------------------------------------------------------*/
       
    #homepage #tren2{
          position: absolute;
          top: 50px;
          left: 235px;
          height: 250px;
          width: 190px;
          margin-top: 15px;
          background-image: url(../images/lawn_mobileindex.jpg);
          display: inline-block;
          box-shadow: 2px 6px 8px rgba(0,0,0,0.7);
          transform: scale(0.9,0.9);
          transition: all ease-in-out .7s;
        }
         
    #homepage #tren2 h3{
          margin: 0;
          color: #fff;
          text-shadow:0px 2px 2px rgba(0,0,0,0.6); 
          font-size: 18px;
          padding: 10px;
        
        }
        
      #homepage #tren2 p{
          display: none;
        }
        
      #homepage #tren2:hover{
            
           transform: scale(1,1);
           background-image: url(../images/lawn_mobileindex.jpg);
        
        }
       
       /*------------------------------------------------------------------------------*/
       
        #homepage #tren3{
          position: absolute;
          top: 50px;
          left: 450px;
          height: 250px;
          width: 190px;
          margin-top: 15px;
          background-image: url(../images/Beauty_mobileindex.jpg);
          display: inline-block;
          box-shadow: 2px 6px 8px rgba(0,0,0,0.7);
          transform: scale(0.9,0.9);
          transition: all ease-in-out .7s;
        }
         
        #homepage #tren3 h3{
          margin: 0;
          color: #fff;
          text-shadow:0px 2px 2px rgba(0,0,0,0.6); 
           padding: 10px;
           font-size: 18px;
        }
        
       #homepage #tren3 p{
          display: none;
        }
        
        #homepage #tren3:hover{
            
          transform: scale(1,1);
          background-image: url(../images/Beauty_mobileindex.jpg);
        
        }
       /*-----------------------------------------------------------------*/
        #homepage #satisfy{
          position: absolute;
          padding: 15px;
          top: 910px;
          height: 450px;
          width: 93%;
          background:#ffd480;
          border: 1px solid #ffd480;
          border-radius: 6px;
       }
       
        #homepage #satisfy h3,h4{
          font-size: 20px;
          margin: 0;
          text-align: center;
          color:#000;
          padding: 5px;
          text-shadow: 0px 2px 2px rgba(0,0,0,0.6); 
        
        }
        
        #homepage #cmt1{
          position: relative;
          height: 180px;
          width: 250px;
          margin-top: 10px;
          border: solid 1px #fff;
          background: #fff;
          color: #000;
          box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
          padding: 10px;
          
        }
        
        #homepage #cmt1 p{
          padding: 10px;
          font-size: 14px;
          text-align: left;
          margin: 0;
        }
        
        #homepage #cmt1 img{
          position: absolute;
          top: 170px;
          left: 150px;
          background-repeat: no-repeat;
          height: 20px;
          margin: 0;
        
        }
        
        #homepage #cmt2{
          position: absolute;
          top: 80px;
          left:300px;
          margin-top: 15px;
          height: 150px;
          width: 330px;
          border: solid 1px #fff;
          background: #fff;
          color: #000;
          box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
       
        }
         
         #homepage #cmt2 p{
          padding: 20px;
          font-size: 14px;
          text-align: left;
          margin: 0;
        }
        
         
        #homepage #cmt2 img{
          position: absolute;
          top: 100px;
          left: 220px;
          background-repeat: no-repeat;
          height: 20px;
          margin: 0;
        }
        
         #homepage #cmt3{
          display: none;
        }
        
         #homepage #cmt3 p{
          display: none;
        }
        
         
        #homepage #cmt3 img{
         display: none;
        }
       
          #homepage #cmt4{
          position: absolute;
          top: 305px;
          margin-top: 2px;
          height: 120px;
          width: 270px;
          border: solid 1px #fff;
          background: #fff;
          color: #000;
          box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        }
          
          #homepage #cmt4 p{
          padding: 15px;
          font-size: 14px;
          text-align: left;
          margin: 0;
        }
        
         
         #homepage #cmt4 img{
          position: absolute;
          top: 75px;
          left: 150px;
          background-repeat: no-repeat;
          height: 20px;
          margin: 0;
        }
        
          #homepage #cmt5{
          position: absolute;
          top: 255px;
          left: 300px;
          margin-top: 2px;
          height: 170px;
          width: 330px;
          border: solid 1px #fff ;
          color: #000;
          background: #fff;
          box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        }
       
          #homepage #cmt5 p{
          padding: 15px;
          font-size: 14px;
          text-align: left;
          margin: 0;
        }
        
         
         #homepage #cmt5 img{
          position: absolute;
          top: 100px;
          left: 210px;
          background-repeat: no-repeat;
          height: 20px;
          margin: 0;
        }
/***********************************Registeration********************************************/
           #sign_up main{ /* main style start*/
        padding: 1px 10px 1px 10px;
        min-height: 1400px;
        background-color:#fff3cc;
        
      }
      
     
#sign_up h1{
         font-size: 24px;
       
       } 
        
      
      #sign_up label{
         font-family: 'Roboto', sans-serif;
         font-size: 16px;
         font-weight: 700;
         margin-left: 10px;
         
       }

     #sign_up input[type="text"],
      input[type="email"],
      input[type="password"],
      input[type="tel"],
      input[type="number"],
      input[type="url"],
      input[type="date"]{
          width: 100%;
          padding: 5px 5px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-size: 14px;
      }

     #sign_up textarea{
          width: 100%;
          padding: 10px 10px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-size: 14px; 
         }

     #sign_up input[type=submit],
     input[type=reset]{
          width: 20%;
          background-color: #ffb31a;
          color: black;
          padding: 10px 15px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-family: 'Roboto', sans-serif;
          font-size:14px; 
         }
         
       #sign_up #box1{
        position: relative;
        height: 700px;
        width: 96%;
        border: 1px solid #000;
        color: black;
        background-color: #ffd9b3;
        border-radius: 6px;
        padding: 10px;
       }
       
      #sign_up #box1 h2{
         font-size: 20px;
         margin: 10px;
       }
       #sign_up #content1 h3{
         font-size: 16px;
         margin-top: 2px;
         margin: 1px;
       }
       #sign_up #content1{
         height: 150px;
         width: 200px;
         margin: 8px;
         padding:8px;
         font-size: 14px;
       }
       
       #sign_up #content2 h3{
         font-size: 16px;
         margin-top: 2px;
         margin: 1px;
       }
       
        #sign_up #content2{
         position: absolute;
         top: 50px;
         left: 280px;
         height: 150px;
         width: 200px;
         margin: 8px;
         padding:8px;
         font-size: 14px;
       }
       
       #sign_up #content3 h3{
         font-size: 16px;
         margin-top: 2px;
         margin: 1px;
        }
       
       
        #sign_up #content3{
         position: absolute;
         top: 340px;
         left: 15px;
         height: 150px;
         width: 200px;
         margin: 8px;
         padding:8px;
         font-size: 14px;
       }
       
        #sign_up #content4 h3{
         font-size: 16px;
         margin-top: 2px;
         margin: 1px;
        }
        #sign_up #content4{
         position: absolute;
         top: 340px;
         left: 280px;
         height: 150px;
         width: 200px;
         margin: 8px;
         padding:8px;
         font-size: 14px;
       }
       
 /************************************furnishing*******************************************/
     #furnishing main{ /* main style start*/
        padding: 1px 10px 1px 10px;
        min-height: 2040px;
        background:#ffdd99;
      }
      
     #furnishing #main_f_a img{
        height: 300px;
        width: 100%;
        border: 1px solid #000;
     }
     
      #furnishing h1{
       position: relative;
       padding-left: 50px;
       height: 35px;
       width: 150px;
       box-shadow: 2px 2px 4px rgba(133,9,9,0.6);
       font-size: 25px;
       font-weight: normal;
       color:#000;
       
     
     }
     
     #furnishing #main_para1{
        position: absolute;
        top: 50px;
        left: 60px;
        color:  #fff;
        font-size: 20px;
        font-weight: normal;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.6);
        opacity: 1;
        animation: bounce 1s cubic-bezier(.27,-.41,.3,1.5) forwards;

       }
     
       @keyframes bounce{
        0%{
          transform: scale(0.7, 1);
          top: -100px;
          opacity: 0;
        }                                          
        100%{
          transform: scale(1,1);
          top: 45px;
          opacity: 1;
        }
      }
        
      /*----------------------------------------------------------------------------*/
        #furnishing label{
         font-family: 'Roboto', sans-serif;
         font-size: 14px;
         font-weight: 700;
         
       }

      input[type="text"],
      input[type="tel"],
      input[type="date"]{
          width: 100%;
          padding: 5px 12px;
          margin: 5px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-size: 12px;
      }

      #furnishing textarea{
          width: 100%;
          padding: 5px 12px;
          margin: 5px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-size: 12px; 
         }

  

     #furnishing input[type=submit],
     input[type=reset]{
          width: 18%;
          background-color:#663300;
          color:#e6e6e6 ;
          padding: 10px 10px;
          margin: 4px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-family: 'Roboto', sans-serif;
          font-size:12px; 
        }
        
     #furnishing #price{
         position: absolute;
         top: 930px;
         left:-10px;
         border: 1px solid  #663300;
         height: 150px;
         width: auto;
         color: #fff;
         background-color: #663300;
         border-radius: 9px;
         box-shadow:3px 3px 4px rgba(0,0,0,0.6); 
         padding: 20px;
         padding-bottom: 30px;
         margin: 20px;
         padding-top: 10px;
      
      }
      
      #furnishing #price h3{
        font-size: 15px;
        color: #fff;
      }
      
      #furnishing #price p{
        font-size: 12px;
        line-height: 1.2em;
      }
      
      #furnishing #before_after{
        position: absolute;
        top: 1160px;
        left: 10px;
        height: 860px;
        width:94%;
        text-align: center;
        border: 1px solid  #b37700;
        padding-left: 10px;
        margin-left:0;
        background-color:   #b37700 ;
        border-radius: 6px;
        text-shadow: 0px 2px 2px rgba(0,0,0,0.6);

       }
       
      #furnishing #before_after h3{
         margin: 10px;
         padding: 10px;
         padding-left: 40px;
         padding-right: 30px;
         text-align: left;
         font-size: 20px;
       }
      
      #furnishing #b_a1{
        position: relative;
        border: 1px solid #cc8800;
        background-image: url(../images/blackboxb1_mobile.jpg);
         height: 250px;
         width: 250px;
         background-repeat: no-repeat;
         transform: scale(0.9,0.9);
         transition: all ease-in-out .7s;
         border-radius: 6px;
         box-shadow:0px 2px 2px rgba(0,0,0,0.6);  
         margin-left: 20px;
      }
      
       #furnishing #b_a1:hover{
            
          transform: scale(1,1);
          background-image: url(../images/blackbox1_mobile.jpg);*/
       }
       
       #furnishing #b_a2{
         position: absolute;
         top: 68px;
         left: 290px;
         border: 1px solid  #cc8800 ;
         background-image: url(../images/whiteb1_mobile.jpg);
         height:250px;
         width: 250px;
         background-repeat: no-repeat;
         transform: scale(0.9,0.9);
         transition: all ease-in-out .7s;
         border-radius: 6px;
         box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
      }
      
      #furnishing #b_a2:hover{
            
          transform: scale(1,1);
          background-image: url(../images/white_mobile.png);
       }
       
         #furnishing #b_a3{
         position: absolute;
         top:320px;
         left: 290px;
         background-image: url(../images/chairs-b1_mobile.jpg);
         height:250px;
         width: 250px;
         background-repeat: no-repeat;
         transform: scale(0.9,0.9);
         transition: all ease-in-out .7s;
         border-radius: 6px;
         box-shadow:0px 2px 2px rgba(0,0,0,0.6);
         border: 1px solid  #cc8800;'
        
      }
      
      #furnishing #b_a3:hover{
          transform: scale(1,1);
          background-image: url(../images/chairs_mobile.jpg);
       }
      
      
      #furnishing #b_a4{
         position: absolute;
         top:320px;
         left: 12px;
         background-image: url(../images/chair_two1_mobile.jpg);
         height:250px;
         width: 250px;
         transform: scale(0.9,0.9);
         transition: all ease-in-out .7s;
         border-radius: 6px;
         box-shadow:0px 2px 2px rgba(0,0,0,0.6);
         border: 1px solid #cc8800;
         margin-left: 20px;
      }
      
      #furnishing #b_a4:hover{
          transform: scale(1,1);
          background-image: url(../images/chair_two_mobile.jpg);
       }
      
         
      #furnishing #b_a5{
         position: absolute;
         top:580px;
         left:12px;
         border: 1px solid  #cc8800;
         background-image: url(../images/tableb1_mobile.jpg);
         height: 250px;
         width: 250px;
         background-repeat: no-repeat;
         transform: scale(0.9,0.9);
         transition: all ease-in-out .7s;
         border-radius: 6px;
         box-shadow:0px 1px 2px rgba(0,0,0,0.6);
         margin-left: 20px;
       }
       
        #furnishing #b_a5:hover{
            
          transform: scale(1,1);
          background-image: url(../images/table_mobile.jpg);
       }
       
      #furnishing #b_a6{
         position: absolute;
         top:580px;
         left:290px;
         border: 1px solid #cc8800 ;
         background-image: url(../images/show_piece1_mobile.jpg);
         height: 250px;
         width: 250px;
         background-repeat: no-repeat;
         transform: scale(0.9,0.9);
         transition: all ease-in-out .7s;
         border-radius: 6px;
         transform: scale(0.9,0.9);
         transition: all ease-in-out .7s;
         box-shadow:0px 1px 2px rgba(0,0,0,0.6);
       }
       
         #furnishing #b_a6:hover{
            
          transform: scale(1,1);
          background-image: url(../images/show_piece_mobile.jpg)
          
       }
/*************************************About_us*************************************************/
      #information main{ /* main style start*/
        padding: 1px 10px 1px 10px;
        min-height: 1220px;
        background: linear-gradient(to right,#ffe680,#fff0b3);
        position: relative;
        z-index: 1;
       
      }
      
      
      
     #information #about_us {
        display: none;
      }
      
      #information #about_us_mobile img{
        position: relative;
        width: 670px;
      }
      
      #information #about_us_mobile h1{
         position: absolute;
         top: 20px;
         left:250px;
         color: #fff;
         text-shadow: 0px 4px 3px rgba(0,0,0,0.6);
         font-size: 25px;
      }
      
      #information #about_us_mobile p{
         position: absolute;
         top: 40px;
         left:40px;
         color: #fff;
         text-shadow: 0px 4px 3px rgba(0,0,0,0.6);
         font-size: 16px;
         margin-top: 25px;
         
     }
      
      #information #about_us_content h2{
          margin-bottom: 1px;
          font-size: 23px;
          
      }
      
      #information #line{
        height: 1px;
        width: 100%;
        background-color: #000;
        margin-top: 1px;
      }
      
       #information #about_us_content p{
          margin-top: 50px;
          margin-left: 5px;
          margin-right: 5px;
          font-size: 16px;
          line-height: 1.2em;
      
      }
      
       #information #it_works{
         display: none;
       }
       
        
      #information #it_works_mobile{
         position: relative;
         height: 280px;
         width: 100%;
         border: 1px solid #cc7a00;
         background-color: #cc7a00;
         border-radius: 4px;
      }
      
       #information #it_works_mobile h2{
         font-size: 25px;
         font-weight: normal;
         padding-left: 120px;
         margin-left: 150px;
         color: #fff;
         text-shadow:  0px 4px 3px rgba(0,0,0,0.6);
      }
      
         #information #it_works_mobile #img1s img{
        position: absolute;
        top: 80px;
        left: 560px;
       }
       
        #information #it_works_mobile #img1s p{
         position: absolute;
         top: 150px;
         left: 560px;
         font-weight: bold;
         line-height: 1.3em;
       }
       
        #information #it_works_mobile #img2s img{
        position: absolute;
        top: 70px;
        left: 370px;
       }
       
        #information #it_works_mobile #img2s p{
         position: absolute;
         top: 150px;
         left: 380px;
         font-weight: bold;
         line-height: 1.3em;
       } 
       
        #information #it_works_mobile #img3s img{
        position: absolute;
        top: 80px;
        left: 210px;
       }
       
       
       #information #it_works_mobile #img3s p{
         position: absolute;
         top: 150px;
         left: 210px;
         font-weight: bold;
         line-height: 1.2em;
       } 
       
       
        #information #it_works_mobile #img4s img{
        position: absolute;
        top: 80px;
        left: 40px;
       }
       
        #information #it_works_mobile #img4s p{
         position: absolute;
         top: 150px;
         left: 40px;
         font-weight: bold;
         line-height: 1.2em;
       } 
/***********************************Services*************************************************/
           main{ /* main style start*/
            padding: 1px 10px 1px 10px;
            min-height: 1220px;
            background: linear-gradient(to right,#ffe680,#fff0b3);
            position: relative;
            z-index: 1;
           }
          
          #wrapper h1{
           font-size: 20px;
          
          }
             #cleaning_box{
              position: relative;
              height: 300px;
              width: 100%;
              border: 1px solid #cc6600;       
              border-radius: 6px;
              background-color: #cc6600;
             }
      
    #cleaning{
        position: absolute;
        top: 40px;
        left: 60px;
        height: 200px;
        width:80%;
        border: 1px solid #cc6600;
        background-image: url(../images/claening_new_mobile.jpg);
        background-repeat: no-repeat;
        border-radius: 6px;
        box-shadow: 0px 4px 3px rgba(0,0,0,0.6);
      }
      
      #book{
        position: absolute;
        top: 20px;
        left: 30px;
        height: 150px;
        width: 200px;
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 4px;
      }
      
      #book h3{
        padding: 5px;
        text-align: center;
        background-color:#ffcc00;
        font-size: 14px;
      }
      
      #book p{
        padding: 2px;
        text-align: center;
        line-height: 1.5em;
        font-size: 12px;
      }
      
      #button_mobile{
        position: absolute;
        top: 125px;
        margin-left: 70px;
        height: 15px;
        width: 50px;
        border: 1px solid #ffcc00;
        border-radius: 4px;
        background-color: #ffcc00;
        box-shadow: 0px 4px 3px rgba(0,0,0,0.6);
     }
      
       #button_desktop{
         display: none;
       }
       
      #button_mobile p{
        position: absolute;
        top: -11px;
        left: 8px;
        font-size: 10px;
     }
     
       #button_desktop p{
         display: none;
       }
  /*****************************************************************************************/    
      #service1{
        position: relative;
        height: 360px;
        width: 96%;
        border: 1px solid #000;
        margin-top: 10px;
        border-radius: 6px;
        padding-left: 21px;
      }
      
      #service1 h2{
        margin: 8px;
        font-size: 18px;
      
      }
      #srv1a_img{
        border: 1px solid #cc8800;
        height: 140px;
        width: 180px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
        margin-top: 0;
        background-image: url(../images/house-cleaners_mobile.jpg);
      }
      
       #srv1a_img p{
         position: absolute;
         top: 210px;
         left: 20px;
         line-height: 1.3em;
         font-size: 12px;
         
        }
        
       #srv1a_img h3{
         position: absolute;
         top: 180px;
         left: 20px;
         font-size: 16px;
        }
      
       #srv1b_img{
        position: absolute;
        top: 38px;
        left: 230px;
        border: 1px solid #cc8800;
        height: 140px;
        width: 180px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6);
        background-image: url(../images/house_cleaner3_mobile.jpg);
      }
      
      #srv1b_img p{
         position: absolute;
         top: 165px;
         line-height: 1.3em;
         font-size: 12px;
        }
      
      
       #srv1c_img p{
       display: none;
      }
     /*********************************************************************************/
     
      #service2{
        position: relative;
        height: 360px;
        width: 96%;
        border: 1px solid #000;
        margin-top: 10px;
        border-radius: 6px;
        padding-left: 21px;
      }
       #service2 h2{
        margin: 8px;
        font-size: 18px;
      
      }
      
       #srv2a_img h3{
         position: absolute;
         top: 180px;
         left: 20px;
         font-size: 16px;
        }
      
        #srv2a_img{
        border: 1px solid #cc8800;
        height: 140px;
        width: 180px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
        background-image: url(../images/electrician2_mobile.jpg);
      }
      
       #srv2a_img p{
         position: absolute;
         top: 205px;
         left: 20px;
         line-height: 1.3em;
         font-size: 12px;
        }
        
      
      
       #srv2b_img{
        position: absolute;
        top: 38px;
        left: 230px;
        border: 1px solid #cc8800;
        height: 140px;
        width: 180px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6);
         background-image: url(../images/electrician-3_mobile.png);
      }
      
      #srv2b_img p{
         position: absolute;
         top: 165px;
         line-height: 1.3em;
         font-size: 12px;
         
        }
      
       #srv2c_img{
         display: none;
      }
       #srv2c_img p{
        display: none;
      }
     /************************************************************************************/
     
      #service3{
        position: relative;
        height: 360px;
        width: 96%;
        border: 1px solid #000;
        margin-top: 10px;
        border-radius: 6px;
        padding-left: 21px;
      }
       #service3 h2{
        margin: 8px;
        font-size: 18px;
      
      }
      
       #srv3a_img h3{
         position: absolute;
         top: 180px;
         left: 20px;
         font-size: 16px;
        }
      
        #srv3a_img{
        border: 1px solid #cc8800;
        height: 140px;
        width: 180px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
        background-image: url(../images/furniture2_mobile.jpg);
        
      }
      
       #srv3a_img p{
         position: absolute;
         top: 205px;
         left: 20px;
         line-height: 1.3em;
         font-size: 12px;
        }
        
      
      
       #srv3b_img{
        position: absolute;
        top: 40px;
        left: 230px;
        border: 1px solid #cc8800;
        height: 140px;
        width: 180px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6);  
        background-image: url(../images/furniture3_mobile.jpg);
      }
      
      #srv3b_img p{
         position: absolute;
         top: 165px;
         line-height: 1.3em;
         font-size: 12px;
         
        }
      
       #srv3c_img{
         display: none;
      }
       #srv3c_img p{
        display: none;
      }
      
   /***************************************************************************************/
     
     #service4{
        position: relative;
        height: 360px;
        width: 96%;
        border: 1px solid #000;
        margin-top: 10px;
        border-radius: 6px;
        padding-left: 21px;
      }
       #service4 h2{
        margin: 8px;
        font-size: 18px;
      
      }
      
       #srv4a_img h3{
         position: absolute;
         top: 180px;
         left: 20px;
         font-size: 16px;
        }
      
        #srv4a_img{
        border: 1px solid #cc8800;
        height: 140px;
        width: 180px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
        background-image: url(../images/lawn2_mobile.jpg);
      }
      
       #srv4a_img p{
         position: absolute;
         top: 205px;
         left: 20px;
         line-height: 1.3em;
         font-size: 12px;
        }
        
      
      
       #srv4b_img{
        position: absolute;
        top: 40px;
        left: 230px;
        border: 1px solid #cc8800;
        height: 140px;
        width: 180px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
        background-image: url(../images/lawn3_images.jpg);
      }
      
      #srv4b_img p{
         position: absolute;
         top: 165px;
         line-height: 1.3em;
         font-size: 12px;
         
        }
      
       #srv4c_img{
         display: none;
       }
       
       #srv4c_img p{
        display: none;
       }
      
   /***********************************************************************************/
  #provides #service5{
        position: relative;
        height: 360px;
        width: 96%;
        border: 1px solid #000;
        margin-top: 10px;
        border-radius: 6px;
        padding-left: 21px;
       }
       
       #service5 h2{
        margin: 8px;
        font-size: 18px;
      }
      
       #provides #srv5a_img h3{
         position: absolute;
         top: 180px;
         left: 20px;
         font-size: 16px;
        }
      
       #provides #srv5a_img{
        border: 1px solid #cc8800;
        height: 140px;
        width: 180px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
        background-image: url(../images/plumber1_mobile.jpg);
       }
      
       #provides #srv5a_img p{
         position: absolute;
         top: 205px;
         left: 20px;
         line-height: 1.3em;
         font-size: 12px;
        }
        
      
      
       #provides #srv5b_img{
        position: absolute;
        top: 40px;
        left: 230px;
        border: 1px solid #cc8800;
        height: 140px;
        width: 180px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
        background-image: url(../images/plumber3_mobile.jpg);
       }
      
       #provides #srv5b_img p{
         position: absolute;
         top: 165px;
         line-height: 1.3em;
         font-size: 12px;
        
        }
       
       #provides #srv5c_img{
         display: none;
        }
       
       #provides #srv5c_img p{
        display: none;
       }
      /*******************************************************************/
      
     #provides #service6{
        position: relative;
        height: 360px;
        width: 96%;
        border: 1px solid #000;
        margin-top: 10px;
        border-radius: 6px;
        padding-left: 21px;
       }
       
      #provides #service6 h2{
        margin: 8px;
        font-size: 18px;
       }
      
      #provides #srv6a_img h3{
         position: absolute;
         top: 180px;
         left: 20px;
         font-size: 16px;
        }
      
        #provides #srv6a_img{
        border: 1px solid #cc8800;
        height: 140px;
        width: 180px;
        border-radius: 6px;
        box-shadow:0px 2px 2px rgba(0,0,0,0.6); 
        background-image: url(../images/painter2_mobile.jpg);
      }
      
      #provides #srv6a_img p{
         position: absolute;
         top: 205px;
         left: 20px;
         line-height: 1.3em;
         font-size: 12px;
        }
        
      
      
       #provides #srv6b_img{
          position: absolute;
          top: 40px;
          left: 230px;
          border: 1px solid #cc8800;
          height: 140px;
          width: 180px;
          border-radius: 6px;
          box-shadow:0px 2px 2px rgba(0,0,0,0.6);  
          background-image: url(../images/paint3_mobile.jpg);
        }
      
        #provides #srv6b_img p{
           position: absolute;
           top: 165px;
           line-height: 1.3em;
           font-size: 12px;

          }

        #provides #srv6c_img{
           display: none;
         }
         
        #provides #srv6c_img p{
          display: none;
         }
/***********************************footer**************************************************/
        
      footer{
          height: 100px;
          background-color: #000;
          width: 100%;
          color: #fff;
        }
      
      footer p{
          padding: 15px;
          margin: 0;
        } 
     
       
      footer #inner_footer{
          min-height: 100px;
          width: 960px;
          position: relative;
          margin: 0 auto;
        }
      
      #inner_footer strong{
          position: absolute;
          left: 350px;
          top: 70px;
        }
 
      #inner_footer #follow_us{
         position: absolute;
         top: 20px;
         left: 350px;
         height: 40px;
         width: 200px;
         /*border: 1px solid #fff;*/
        }

      