<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" /><!--Bootstrap external file -->
	<style>
       
		.cycle-slideshow img {
			height: auto;
			width: 100%;
            margin: 20px;
           
		}
        
        body{
            background-color: #33001a;
        }
       
		.center {
			text-align: center;
		}

		
		.cycle-prev,.cycle-next {
			position: absolute;
			top: 50%;
			font-weight: bold;
            padding: 10px;
            color: #f2f2f2;
            z-index: 1000;
            margin-left: 30px;
		}

		.cycle-next {
			right: 0;
            margin-left: 30px;
		}
        
        .cycle-prev:hover, .cycle-next:hover{
            background: rgba(0,0,0,0.8);
        
        }
        
        

		.cycle-pager {
			position: absolute;
			z-index: 1000;
			bottom: 5px;
			left: 50%;
           
		}

		.cycle-pager span {
			display: inline-block;
			width: 8px;
			height: 8px;
			background: #f2f2f2;
			border: 1px solid #999999;
			margin: 0 3px;
			text-indent: -9999px;
			cursor: pointer;
            border-radius: 50%;
		}

		.cycle-pager span.cycle-pager-active {
			background: #999999;
		} 
        
        #caption{
          font-size: 24px;
          position: absolute;
          top:10%;
          left:10%;
          text-align: center;
          text-shadow: 0px 4px 3px rgba(0,0,0,0.6);
          z-index: 1000;
          color: #f2f2f2;
          opacity: 1;
         }
       h1{
         padding-left: 20px;
         color: #f2f2f2;
       }
       
     
	</style>
	<title>jQuery Slider Plugin Test</title>
    <!--jQuerry minified library-->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--bootstrap library-->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!--Basic slider plugin downloaded from jQueryc cycl2-->
	<script src="cycle2.js"></script>
	<script src="shuffle.js"></script>
	
    <script>
 
	</script>

</head>
<body>

<div class="container">
  <h1>My Slider</h1>
  
	<div class="row justify-content-center">
		<div class="col-sm-8">
			<div class="cycle-slideshow" 
			data-cycle-speed="1000"
		    data-cycle-fx=shuffle
            data-cycle-shuffle-right=0
            data-cycle-shuffle-top="-70"
			data-cycle-caption="#caption"
    		data-cycle-caption-template="{{cycleTitle}}">
				<!-- prev/next links -->
			    <div class="cycle-prev">&#10094;</div>
			    <div class="cycle-next">&#10095;</div>

				<img src="pic/wedding_pic1.jpg" alt="slide" data-cycle-title='"You are my today and all of tomorrow"' />
				<img src="pic/wedding_pic2.jpg" alt="slide" data-cycle-title='"Every story is beautiful but ours is my favourite"' />
				<img src="pic/wedding_pic3.jpg" alt="slide" data-cycle-title='"The Key to a Happy Marriage Is"'/>
				<img src="pic/wedding_pic4.jpg" alt="slide" data-cycle-title='"I love you to the moon and back"' />
                <img src="pic/wedding_pic5.jpg" alt="slide" data-cycle-title='"And they lived happily ever after"' />


				<div class="cycle-pager"></div>
			</div> <!-- end of slider -->
			<div id="caption" class="center"></div>
		</div>
	 </div><!-- /row -->
  
</div><!-- /container -->

</body>
</html>