/**
 *  About
 *  E-commerce Project
 *  Apex Developers
 */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Imports                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import 'base.css';
@import 'components.css';



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Main banner                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.main-banner {
    margin-top: 0;
    width: 100%;
    height: 44rem;
    background: #fff url(../img/children_medium.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.banner {
   position: relative;
   top: 0;
   left: 0;
   height: 30rem;
   text-align: left;
   cursor: default;
}

.main-banner-align {
   position: absolute;
   top: 70%;
   width: 100%;
   transform: translateY(-50%);
}

.main-banner h2 {
    line-height: 1;
    font-size: 6.5rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 .17857em rgba(0, 0, 0, .4);
    text-transform: uppercase;
    text-align: left;
}

.main-banner h2 span {
    margin-left: -.1rem;
    line-height: 1;
    font-size: 7.2rem;
    font-weight: 600;
    color: #fff;
    
}

.main-banner a {
    display: inline-block;
    margin-top: 2.3rem;
    margin-left: 0rem;
    padding: 1.2rem 2.2rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #e31837;
    border-radius: .4rem;
    letter-spacing: .06rem;
    text-transform: uppercase;
}

.main-banner a:hover {
    background-color: #aa1229;
}


span#student{
    color: #fff;
    -webkit-text-fill-color: #006491;
    -webkit-text-stroke-width: 2px;
    -moz-text-fill-color: #006491;
    -moz-text-stroke-width: 2px;
    font-size: 11rem;
}

span#big{
    font-size: 8.4rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Columns                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.steps {
    margin-top: 1.8rem;
}

.four.column {
    height: 35rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  headings                                             */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.heading {
    margin-top: 4rem;
    text-align: center;
}

.heading.after {
    margin-top: 6.8rem;
    text-align: center;
}

.heading .text h3 {
    font-size: 2.8rem;
    font-weight: 600;
    color: #006491;
    letter-spacing: -.02rem;
    text-transform: uppercase;
}

.heading .text p {
    margin-top: 1.6rem;
    font-size: 2rem;
    font-weight: 500;
    color: #555;
}

.registration .text {
    margin-top: 5.6rem;
    text-align: center;
}

.registration .text h3 {
    font-size: 2.8rem;
    font-weight: 600;
    color: #006491;
    letter-spacing: -.02rem;
    text-transform: uppercase;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Columns content                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.step-img {
    width: 100%;
    height: 22rem;
    text-align: center;
}

.step-img img {
    margin-top: 1.2rem;
    width: 18rem;;
    height: 18rem;
    border-radius: 10rem;
}

.step-text {
    text-align: center;
}

.step-text h3 {
    font-size: 2.6rem;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
}

.step-text p {
    margin-top: 1.2rem;
    font-size: 2rem;
    font-weight: 500;
    color: #555;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Grid                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 479px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .four.column + .four.column {
        margin-top: 2.5rem;
    }

    .wrapper {
        width: 100%;
    }

    .main-banner {

    }

    .main-banner-align h2, .main-banner-align {
        margin-left: 0;
        text-align: center;
    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .four.column + .four.column {
        margin-top: 2.5rem;
    }

    .main-banner-align h2, .main-banner-align {
        margin-left: 0;
        text-align: center;
    }

}

@media screen and (min-width: 640px) and (max-width: 767px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .four.column + .four.column {
        margin-top: 2.5rem;
    }

}

@media screen and (min-width: 768px) {
    .container { width: 90%; }

    .column + .column { margin-left: 3rem; }
    .column:first-child { margin-left: 0; }

    .three.column  { width: calc(25% - 1.5rem);        }
    .four.column   { width: calc(33.333333% - 2rem);   }
    .six.column    { width: calc(50% - 1rem);          }
    .nine.column   { width: calc(75% - .5rem);         }
    .twelve.column { width: 100%; margin-left: 0;      }
}
