/**
 *  Index
 *  E-commerce Project
 *  Kowabunga
 */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Imports                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import 'base.css';
@import 'components.css';



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Main banner                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.main-banner {
    margin-top: 0;
    width: 100%;
    height: 44rem;
    background: #fff url(../img/pizza_doodle.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}

.banner {
    position: relative;
    top: 0;
    left: 0;
    height: 30rem;
    text-align: left;
    cursor: default;
}

.main-banner-align {
    position: absolute;
    top: 70%;
    width: 100%;
    transform: translateY(-50%);
}

.main-banner h2 {
    line-height: 1;
    font-size: 6.5rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 .17857em rgba(0, 0, 0, .5);
    text-transform: uppercase;
    text-align: left;
}

.main-banner h2 span {
    margin-left: -.1rem;
    line-height: 1;
    font-size: 7.2rem;
    font-weight: 600;
    color: #fff;
}

.main-banner a {
    display: inline-block;
    margin-top: 2.3rem;
    margin-left: 0rem;
    padding: 1.2rem 2.2rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #e31837;
    border-radius: .4rem;
    letter-spacing: .06rem;
    text-transform: uppercase;
}

.main-banner a:hover {
    background-color: #aa1229;
}

span#domino{
    font-size: 10.4rem;
    color: #fff;
    -webkit-text-fill-color: #006491;
    -webkit-text-stroke-width: 2px;
    -moz-text-fill-color: #006491;
    -moz-text-stroke-width: 2px;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Start registration                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.registration .text {
    margin-top: 4rem;
    text-align: center;
}

.registration .text h3 {
    font-size: 2.8rem;
    font-weight: 600;
    color: #006491;
    letter-spacing: -.02rem;
    text-transform: uppercase;
}

.registration .buttons {
    margin-top: 2.5rem;
}

.registration .buttons ul {
    list-style: none;
    text-align: center;
}

.registration .buttons ul li {
    display: inline;
}

.registration .buttons ul li span {
    display: inline-block;
    font-size: 2.2rem;
    font-weight: 600;
    color: #888;
    font-style: italic;
    letter-spacing: .04rem;
}

.registration .buttons ul li a {
    display: inline-block;
    padding: 1.4rem 4.6rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #e31837;
    border-radius: .4rem;
    letter-spacing: .04rem;
    text-transform: uppercase;
}

.registration .buttons ul li a:hover {
    background-color: #aa1229;
}

.registration .buttons ul li + li {
    margin-left: 3rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Info banner                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.text-banner {
    float: left;
    margin-top: 6rem;
    width: 100%;
    border-top: .2rem solid #e5e5e5;
    border-bottom: .2rem solid #e5e5e5;
    background-color: transparent;
}

.text-banner .text-box-1 {
    float: left;
    width: 42%;
    height: 14rem;
    text-align: center;
}

.text-banner .text-box-2 {
    float: left;
    width: 16%;
    height: 14rem;
    text-align: center;
}

.text-banner .text-box-2 img {
    margin-top: 2.4rem;
    width: 9rem;
}

.text-banner .text-box-3 {
    float: left;
    width: 42%;
    height: 14rem;
    text-align: center;
}

.text-banner .text-box-1 h3, .text-banner .text-box-3 h3 {
    margin-top: 4.1rem;
    font-size: 2.7rem;
    font-weight: 600;
    color: #006491;
    letter-spacing: -.04rem;
    text-transform: uppercase;
}

.text-banner .text-box-1 p, .text-banner .text-box-3 p {
    font-size: 1.5rem;
    font-weight: 600;
    color: #555;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Domino's banner                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.dominos-banner {
    padding-left: 5rem;
    margin-top: 6rem;
    width: 100%;
    height: 18rem;
    background: #fff url(../img/dominos-link.jpg) no-repeat right center;
    background-size: cover;
    overflow: hidden;
}

.banner-2 {
    position: relative;
    top: 0;
    left: 0;
    height: 18rem;
    text-align: left;
    cursor: default;
}

.main-banner-align-2 {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.dominos-banner h3 {
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 .17857em rgba(0, 0, 0, .2);
    text-transform: uppercase;
}

.dominos-banner a {
    display: inline-block;
    margin-top: .8rem;
    margin-left: 0rem;
    padding: 1.2rem 2.2rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #e31837;
    border-radius: .4rem;
    letter-spacing: .06rem;
    text-transform: uppercase;
}

.dominos-banner a:hover {
    background-color: #aa1229;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Login modal                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#login-frame {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 36rem;
    padding: 0 2.5rem;
    background-color: #fff;
    border-radius: .6rem;
    cursor: default;
    overflow: hidden;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-50%, -53%);
       -moz-transform: translate(-50%, -53%);
            transform: translate(-50%, -53%);
}

#login-frame.isvisible {
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#login-title {
    width: 100%;
    font-size: 100%;
    text-align: left;
    overflow: hidden;
}

#login-title h2 {
    margin-top: 3rem;
    font-size: 2.6rem;
    font-weight: 600;
    color: #0078ae;
    text-transform: uppercase;
}

#login-title p {
    font-size: 1.7rem;
    font-weight: 600;
    color: #555;
    font-style: italic;
    letter-spacing: -.02rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form specs                                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#login-form {
    margin-top: 3.9rem;
    width: 100%;
    height: auto;
    line-height: 0;
}

.field + .field {
    margin-top: 2rem;
}

label {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #555;
}

label span {
    font-size: 1.3rem;
    font-weight: 700;
    color: #dd4b39;
}

#email, #password {
    margin-top: .6rem;
    width: 100%;
    height: 4.4rem;
    padding: 0 1rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    background: transparent;
    border: .1rem solid #ccc;
    border-radius: .4rem;
    transition: none;
    -webkit-transition: border-color .2s ease-in-out !important;
       -moz-transition: border-color .2s ease-in-out !important;
            transition: border-color .2s ease-in-out !important;
}

#email:focus, #password:focus {
    border: .1rem solid #0078ae;
}

.input-error {
    display: block;
    text-align: right;
    margin-top: 1rem;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #dd4b39;
}

#signin-btn {
    margin-top: 3rem;
    width: 100%;
    height: 4.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #E31837;
    border-radius: .4rem;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

#signin-btn:hover {
    background-color: #aa1229;
}

.forgot {
    height: 7.3rem;
    text-align: center;
}

.forgot a {
    line-height: 7rem;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    color: #0078ae;
    letter-spacing: -.02rem;
    text-transform: uppercase;
}

.forgot a:hover {
    text-decoration: underline;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*   Overlay                                             */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#overlay {
   position: fixed;
   top: 0;
   left: 0;
   min-width: 100%;
   min-height: 100%;
   z-index: 5555;
   opacity: 0;
   visibility: hidden;
   background-color: rgba(25, 25, 25, .75);
   cursor: pointer
}

#overlay.isvisible {
   opacity: 1;
   visibility: visible;
}

#contact-frame, #login-frame, #overlay {
   transition: all .2s ease-in-out;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Grid                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 479px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .wrapper {
        width: 100%;
    }

    .main-banner-align h2, .main-banner-align {
        margin-left: 0;
        text-align: center;
    }

    .registration .text p {
        font-size: 2.4rem;
    }

    .registration .buttons ul li a {
        padding: 1.4rem 2.2rem;
        font-size: 1.7rem;
    }

    .registration .buttons ul li + li {
        margin-left: 1.6rem;
    }

    .text-banner .text-box-1,
    .text-banner .text-box-2,
    .text-banner .text-box-3 {
        float: none;
        width: 100%;
        height: 8rem;
        text-align: center;
    }

    .text-banner .text-box-2 img {
        margin-top: 0;
        width: 7.8rem;
    }

    .text-banner .text-box-3 {
        height: 9.7rem;
    }

    .text-banner .text-box-3 h3 {
        margin-top: 2.2rem;
    }

    .dominos-banner {
        padding-left: 0rem;
    }

    .main-banner-align-2 {
        text-align: center;
    }

    .main-banner-align-2 h3 {
        font-size: 4rem;
    }

    #login-frame {
        width: 30rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .main-banner-align h2, .main-banner-align {
        margin-left: 0;
        text-align: center;
    }

    .registration .buttons ul li + li {
        margin-left: 2.9rem;
    }

    .text-banner .text-box-1,
    .text-banner .text-box-2,
    .text-banner .text-box-3 {
        float: none;
        width: 100%;
        height: 8rem;
        text-align: center;
    }

    .text-banner .text-box-2 img {
        margin-top: 0;
        width: 7.8rem;
    }

    .text-banner .text-box-3 {
        height: 9.7rem;
    }

    .text-banner .text-box-3 h3 {
        margin-top: 2.2rem;
    }

}

@media screen and (min-width: 640px) and (max-width: 767px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .registration .buttons ul li + li {
        margin-left: 3rem;
    }
}

@media screen and (min-width: 768px) {
    .container { width: 90%; }
}
