/**
 *  Parent menu
 *  E-commerce Project
 *  Apex Developers
 */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Imports                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import 'base.css';
@import 'components.css';



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Main banner                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.main-banner {
    margin-top: 0;
    width: 100%;
    height: 44rem;
    background: #fff url(../img/menu1.jpg) no-repeat right center;
    background-size: cover;
    overflow: hidden;
}

.banner {
   position: relative;
   top: 0;
   left: 0;
   height: 30rem;
   text-align: left;
   cursor: default;
}

.main-banner-align {
   position: absolute;
   top: 70%;
   width: 100%;
   transform: translateY(-50%);
}

.main-banner h2 {
    line-height: 1;
    font-size: 6.5rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0 .17857em rgba(0, 0, 0, .2);
    text-transform: uppercase;
    text-align: left;
}

.main-banner h2 span {
    margin-left: -.1rem;
    line-height: 1;
    font-size: 7.2rem;
    font-weight: 600;
    color: #fff;
}

.main-banner a {
    display: inline-block;
    margin-top: 2.3rem;
    margin-left: 0rem;
    padding: 1.2rem 2.2rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    background-color: #e31837;
    border-radius: .4rem;
    letter-spacing: .06rem;
    text-transform: uppercase;
}

.main-banner a:hover {
    background-color: #aa1229;
}

span#small{
    font-size: 5.5rem;
}

span#domino{
    font-size: 16.3rem;
    color: #fff;
    -webkit-text-fill-color: #006491;
    -webkit-text-stroke-width: 2px;
    -moz-text-fill-color: #006491;
    -moz-text-stroke-width: 2px;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Page heading                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.heading {
    margin: 0 auto;
    width: 60rem;
    margin-top: 4.3rem;
    text-align: left;
}

.heading h2 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #0078ae;
    text-transform: uppercase;
}

.heading p {
    font-size: 1.7rem;
    font-weight: 600;
    color: #555;
    font-style: italic;
    letter-spacing: -.02rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form fields                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

fieldset {
    margin-top: 2rem;
}

.fields {
    margin: 0 auto;
    width: 60rem;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form specs                                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.field + .field {
    margin-top: 2rem;
}

label {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #555;
}

label span {
    font-size: 1.3rem;
    font-weight: 700;
    color: #dd4b39;
}

.input-error {
    display: block;
    text-align: right;
    margin-top: 1rem;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #dd4b39;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Custom select box                                    */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.select-css {
    display: block;
    font-family: Arial, sans-serif;
    margin-top: .6rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
    line-height: 1.2;
    padding: .8em 1.4rem .7em 1rem;
    width: 100%;
    border: .1rem solid #e0e0e0;
    border-radius: .4rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #fff;
    background-image: url(../img/down.png),
      linear-gradient(to bottom, #fff, #fff);
    background-repeat: no-repeat, repeat;
    background-position: right 1.2rem top 52%, 0 0;
    background-size: 1.2rem auto, 100%;
    -webkit-transition: border-color .2s ease-in-out !important;
       -moz-transition: border-color .2s ease-in-out !important;
            transition: border-color .2s ease-in-out !important;
    outline: none;
    cursor: pointer;
}
.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border: .1rem solid #0078ae;
}

.select-css:focus {
    border: .1rem solid #ccc;
    color: #555;
    outline: none;
}

.select-css option {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    cursor: pointer;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

@-moz-document url-prefix() {
    select, select:-moz-focusring, select::-moz-focus-inner {
       color: transparent !important;
       text-shadow: 0 0 0 #000 !important;
       border:0;
    }
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Student info                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.student-info {
    margin-top: 0rem;
    width: 100%;
    padding: 1rem 1.5rem;
    background: transparent;
    overflow: hidden;
}

.student-info p {
    font-family: Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: #000;
}

.student-info p + p {
    margin-top: .3rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form fields                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

input[type="text"], input[type="email"] {
    margin-top: .6rem;
    width: 100%;
    height: 4.4rem;
    padding: 0 1rem;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
    background: #fff;
    border: .1rem solid #ccc;
    border-radius: .4rem;
    transition: none;
    -webkit-transition: border-color .2s ease-in-out !important;
       -moz-transition: border-color .2s ease-in-out !important;
            transition: border-color .2s ease-in-out !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border: .1rem solid #0078ae;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Columns                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.columns {
    margin-top: 2.7rem;
}

#menu-form {
    text-align: left;
    font-family: Arial, sans-serif;
}

.items {
    margin: 0 auto;
    width: 60rem;
    border: .1rem solid #e0e0e0;
    border-radius: .4rem;
    background-color: #fff;
    overflow: hidden;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Menu                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.menu-item {
    width: 100%;
    overflow: hidden;
    text-align: right;
}

.menu-item + .menu-item {
    margin-top: 0rem;
}
.menu-item .item {
    margin-top: 0;
}

.menu-item .img {
    float: left;
    width: 10rem;
    /* border-right: .1rem solid #ddd; */
}

.menu-item .img img {
    width: 7rem;
    margin-top: .5rem;
    margin-right: 1.5rem;
}

.menu-item .description {
    float: left;
    width: calc(100% - 20rem);
    height: 8rem;
    text-align: center;
    text-transform: uppercase;
    /* border-right: .1rem solid #ddd; */
}

.menu-item .description h3 {
    margin-top: 1.7rem;
}

.menu-item .description h3 span {
    margin-top: 1.8rem;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.menu-item .description h3 span:hover {
    text-decoration: underline;
}

.menu-item .description p {
    font-size: 1.6rem;
    font-weight: 500;
}

.menu-item .select {
    float: left;
    width: 10rem;
    height: 8rem;
}

#menu-submit {
    clear: both;
    margin-top: 3rem;
    width: 18rem;
    height: 4.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #E31837;
    border-radius: .4rem;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

#menu-submit:hover {
    background-color: #aa1229;
}

.btn-container {
    margin: 0 auto;
    width: 60rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  + - buttons                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.input {
    float: left;
    margin-top: 1.9rem;
    margin-left: 1.3rem;
    width: 8rem;
    height: 4.4rem;
}

.input input[type="text"] {
    float: left;
    width: 4rem;
    height: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
    border: .1rem solid #ccc;
    border-radius: .4rem;
}

.button {
    float: left;
    margin-left: .5rem;
    width: 2.5rem;
    height: 2rem;
    line-height: 1.7rem;
    padding: 0rem 0;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
    background-color: #e31837;
    border-radius: .4rem;
    cursor: pointer;
    transition: .2s background-color ease-in-out;
}

.button:hover {
    background-color: #aa1229;
}

.button + .button {
    margin-top: .4rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Required                                             */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.required-message {
    margin: 0 auto;
    width: 60rem;
}

.required-message p {
    margin-top: 3.7rem;
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #555;
}

.required-message p span {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #dd4b39;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*   Overlay                                             */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#overlay {
   position: fixed;
   top: 0;
   left: 0;
   min-width: 100%;
   min-height: 100%;
   z-index: 5555;
   opacity: 0;
   visibility: hidden;
   background-color: rgba(25, 25, 25, .75);
   cursor: pointer
}

#overlay.isvisible {
   opacity: 1;
   visibility: visible;
}

#contact-frame, #login-frame, #overlay {
   transition: all .2s ease-in-out;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Grid                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 479px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .six.column + .six.column {
        margin-top: 2.5rem;
    }

    .wrapper {
        width: 100%;
    }

    .main-banner-align h2, .main-banner-align {
        margin-left: 0;
        text-align: center;
    }

    .menu-item .description h3 {
        margin-top: 1.8rem;
    }

    .menu-item .img {
        display: none;
    }

    .menu-item .description {
        width: calc(100% - 10rem);
        text-align: left;
    }

    .menu-item .description h3, .menu-item .description p {
        margin-left: 1.8rem;
    }

    .items, .fields, .btn-container {
        width: 100%;
    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .six.column + .six.column {
        margin-top: 2.5rem;
    }

    .main-banner-align h2, .main-banner-align {
        margin-left: 0;
        text-align: center;
    }

    .items, .fields, .btn-container {
        width: 100%;
    }

}

@media screen and (min-width: 640px) and (max-width: 767px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .six.column + .six.column {
        margin-top: 2rem;
    }

    .items, .fields, .btn-container {
        width: 100%;
    }

}

@media screen and (min-width: 768px) {
    .container { width: 90%; }

    .column + .column { margin-left: 2rem; }
    .column:first-child { margin-left: 0; }

    .three.column  { width: calc(25% - 1.5rem);        }
    .four.column   { width: calc(33.333333% - 2rem);   }
    .six.column    { width: calc(50%);                 }
    .nine.column   { width: calc(75% - .5rem);         }
    .twelve.column { width: 100%; margin-left: 0;      }

}
