/**
 *  Parents registration
 *  E-commerce Project
 *  Apex Developers
 */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Imports                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import 'base.css';
@import 'components.css';



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Sign out highlight                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#register a {
    color: #fff !important;
    background-color: #006491 !important;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Page heading                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.heading {
    margin: 0 auto;
    width: 60rem;
    margin-top: 4.3rem;
    text-align: left;
}

.heading h2 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #0078ae;
    text-transform: uppercase;
}

.heading p {
    font-size: 1.7rem;
    font-weight: 600;
    color: #555;
    font-style: italic;
    letter-spacing: -.02rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Fieldset and legend                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.school-reg {
    margin: 0 auto;
    margin-top: 2.5rem;
    width: 60rem;
}

fieldset {
    border: .1rem solid #e0e0e0;
    border-radius: .4rem;
    background-color: #fff;
}

fieldset + fieldset {
    margin-top: 3rem;
}

.fields {
    padding: 3rem;
}

.form-legend {
    width: 100%;
    height: 3.8rem;
    background-color: #006491;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
}

.form-legend h3 {
    margin-left: 2.5rem;
    line-height: 3.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

#add-student {
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

#add-student:hover {
    background-color: #005177;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form specs                                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.field + .field {
    margin-top: 2rem;
}

label {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #555;
}

label span {
    font-size: 1.3rem;
    font-weight: 700;
    color: #dd4b39;
}

.input-error {
    display: block;
    text-align: right;
    margin-top: 1rem;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #dd4b39;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

input[type="text"], input[type="email"],
input[type="password"], input[type="phone"] {
    margin-top: .6rem;
    width: 100%;
    height: 4.4rem;
    padding: 0 1rem;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    background: transparent;
    border: .1rem solid #ccc;
    border-radius: .4rem;
    transition: none;
    -webkit-transition: border-color .2s ease-in-out !important;
       -moz-transition: border-color .2s ease-in-out !important;
            transition: border-color .2s ease-in-out !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border: .1rem solid #0078ae;
}

#signup-btn {
    margin-top: 3rem;
    width: 18rem;
    height: 4.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #E31837;
    border-radius: .4rem;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

#signup-btn:hover {
    background-color: #aa1229;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Required                                             */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.required-message {
    margin: 0 auto;
    width: 60rem;
}

.required-message p {
    margin-top: 3.7rem;
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #555;
}

.required-message p span {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #dd4b39;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Grid                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 479px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .heading, .school-reg, .required-message {
        width: 100%;
    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .heading, .school-reg, .required-message {
        width: 100%;
    }

}

@media screen and (min-width: 640px) and (max-width: 767px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .heading, .school-reg, .required-message {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .container { width: 95%; }
}
