/**
 *  Thank you
 *  E-commerce Project
 *  Apex Developers
 */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Imports                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import 'base.css';
@import 'components.css';



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Page heading                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.master-heading {
    width: 100%;
    height: 12rem;
    background-color: transparent;
    text-align: center
}

.master-heading h2 {
    line-height: 12.3rem;
    font-size: 3rem;
    font-weight: 600;
    color: #006491;
    text-transform: uppercase;
    letter-spacing: -.06rem;
}

.master-heading h2 i {
    position: relative;
    bottom: .15rem;
    font-size: 2.5rem;
    color: #006491;
}

.heading {
    margin: 0 auto;
    width: 60rem;
}

.heading h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #0078ae;
    text-transform: uppercase;
}

.heading p {
    font-size: 1.7rem;
    font-weight: 600;
    color: #555;
    font-style: italic;
    letter-spacing: -.02rem;
}

.heading h3 span  {
    float: right;
}

.heading h3 span a {
    position: relative;
    top: .3rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #e31837;
}

.heading h3 span a:hover {
    text-decoration: underline;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Info box                                             */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.container {
    overflow: hidden;
}

.section {
    margin: 0 auto;
    width: 60rem;
}

.section + .section {
    margin-top: 4.3rem;
}

.info-box {
    margin-top: 1.5rem;
    padding: 1.7rem 1.9rem 1.6rem 1.9rem;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: .1rem solid #e0e0e0;
    border-radius: .4rem;
}

.info-box p {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 500;
}

.info-box p strong {
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: 600;
}

.info-box p + p {
    margin-top: 1.2rem;
}

.info-box p.total {
    margin-top: 2rem;
}


.heading a  {
    display: inline-block;
    margin-top: 3rem;
    padding: 1.2rem 3.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #E31837;
    border-radius: .4rem;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.heading a:hover {
    background-color: #aa1229;
}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*   Overlay                                             */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#overlay {
   position: fixed;
   top: 0;
   left: 0;
   min-width: 100%;
   min-height: 100%;
   z-index: 5555;
   opacity: 0;
   visibility: hidden;
   background-color: rgba(25, 25, 25, .75);
   cursor: pointer
}

#overlay.isvisible {
   opacity: 1;
   visibility: visible;
}

#contact-frame, #login-frame, #overlay {
   transition: all .2s ease-in-out;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Grid                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 479px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .six.column + .six.column {
        margin-top: 2.5rem;
    }

    .wrapper {
        width: 100%;
    }

    .main-banner-align h2, .main-banner-align {
        margin-left: 0;
        text-align: center;
    }

    .menu-item .description h3 {
        margin-top: 1.8rem;
    }

    .menu-item .img {
        display: none;
    }

    .menu-item .description {
        width: calc(100%);
        text-align: left;
    }

    .menu-item .description h3, .menu-item .description p {
        margin-left: 1.8rem;
    }

    .heading, .token-info, .edit-info, .section, .payment {
        width: 100%;
    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .six.column + .six.column {
        margin-top: 2.5rem;
    }

    .main-banner-align h2, .main-banner-align {
        margin-left: 0;
        text-align: center;
    }

    .heading, .token-info, .edit-info, .section, .payment {
        width: 100%;
    }

}

@media screen and (min-width: 640px) and (max-width: 767px) {
    .container {
        width: 90%;
        padding: 0;
    }

    .six.column + .six.column {
        margin-top: 2rem;
    }

    .heading, .token-info, .edit-info, .section, .payment {
        width: 100%;
    }

}

@media screen and (min-width: 768px) {
    .container { width: 90%; }

    .column + .column { margin-left: 2rem; }
    .column:first-child { margin-left: 0; }

    .three.column  { width: calc(25% - 1.5rem);        }
    .four.column   { width: calc(33.333333% - 2rem);   }
    .six.column    { width: calc(50% - 1rem);          }
    .nine.column   { width: calc(75% - .5rem);         }
    .twelve.column { width: 100%; margin-left: 0;      }

}
