/**
 *  Parents registration
 *  E-commerce Project
 *  Apex Developers
 */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Imports                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import 'base.css';
@import 'components.css';


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Sign out highlight                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#register a {
    color: #fff !important;
    background-color: #006491 !important;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Heading                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.heading {
    margin-top: 4rem;
    width: 100%;
    text-align: left;
}

.heading h2 {
    font-size: 2.6rem;
    font-weight: 600;
    color: #0078ae;
    text-transform: uppercase;
}

.heading p {
    font-size: 1.7rem;
    font-weight: 600;
    color: #555;
    font-style: italic;
    letter-spacing: -.02rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Page heading                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.heading {
    margin: 0 auto;
    margin-top: 4.2rem;
    width: 60rem;
}

.heading h2 {
    font-size: 2.6rem;
    font-weight: 600;
    color: #0078ae;
    text-transform: uppercase;
}

.heading p {
    font-size: 1.7rem;
    font-weight: 600;
    color: #555;
    font-style: italic;
    letter-spacing: -.02rem;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Fieldset and legend                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.school-reg {
    margin: 0 auto;
    margin-top: 2.6rem;
    width: 60rem;
}

fieldset {
    border: .1rem solid #e0e0e0;
    background-color: #fff;
}

fieldset + fieldset {
    margin-top: 3rem;
}

.fields {
    padding: 2rem 3rem 3rem 3rem;
}

.form-legend {
    width: 100%;
    height: 3.8rem;
    background-color: #006491;
}

.form-legend h3 {
    margin-left: 2.5rem;
    line-height: 3.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

#add-student {
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

#add-student:hover {
    background-color: #005177;
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

input[type="text"], input[type="email"],
input[type="password"], input[type="phone"] {
    margin-top: .6rem;
    width: 100%;
    height: 4.4rem;
    padding: 0 1rem;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    background: transparent;
    border: .1rem solid #ccc;
    border-radius: .4rem;
    transition: none;
    -webkit-transition: border-color .2s ease-in-out !important;
       -moz-transition: border-color .2s ease-in-out !important;
            transition: border-color .2s ease-in-out !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border: .1rem solid #0078ae;
}

#signup-btn,
.edit_button {
    margin-top: 3rem;
    width: 18rem;
    height: 4.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #E31837;
    border-radius: .4rem;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

#signup-btn:hover,
.edit_button:hover {
    background-color: #aa1229;
}

.button {
    float: left;
    margin-left: .5rem;
    width: 2.5rem;
    height: 2rem;
    line-height: 1.7rem;
    padding: 0rem 0;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
    background-color: #e31837;
    border-radius: .4rem;
    cursor: pointer;
    transition: .2s background-color ease-in-out;
}

.button:hover {
    background-color: #aa1229;
}

.button + .button {
    margin-top: .4rem;
}

div.field p{
  height: 4.4rem;
  padding: 1rem 0;
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400; 
}

label {
    display: block;
    margin-top: 1rem;
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #555;
}

label span {
    font-size: 1.3rem;
    font-weight: 700;
    color: #dd4b39;
}

img#add_student_icon{
  cursor: pointer;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Required                                             */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.required-message {
    width: 60rem;
    margin: 0 auto;
}

.required-message p {
    margin-top: 3.7rem;
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #555;
}

.required-message p span {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #dd4b39;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Add student                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.add-btn {
    width: 100%;
    margin-top: 1.2rem;
}

.add-btn p {
    font-size: 1.7rem;
    font-weight: 700;
    color: #e31837;
    cursor: pointer;
}

.add-btn p i {
    font-size: 1.6rem;
    color: #e31837;
}

.add-btn p:hover {
    text-decoration: underline;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Grid                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 479px) {
    .container {
        width: 90%;
        padding: 0;
    }
    .heading,.school-reg,.required-message {
        width: 100%;
    } 
}

@media screen and (min-width: 480px) and (max-width: 639px) {
    .container {
        width: 90%;
        padding: 0;
    }
    .heading,.school-reg,.required-message {
        width: 100%;
    }

}

@media screen and (min-width: 640px) and (max-width: 767px) {
    .container {
        width: 90%;
        padding: 0;
    }
    .heading,.school-reg,.required-message {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .container { width: 95%; }
}
