/**
 *  School registration
 *  E-commerce Project
 *  Apex Developers
 */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Imports                                              */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@import 'base.css';
@import 'components.css';


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Sign out highlight                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#register a {
    color: #fff !important;
    background-color: #006491 !important;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Page heading                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.heading {
    margin-top: 4.2rem;
    width: 100%;
    text-align: left;
}

.heading h2 {
    font-size: 2.6rem;
    font-weight: 600;
    color: #0078ae;
    text-transform: uppercase;
}

.heading p {
    font-size: 1.7rem;
    font-weight: 600;
    color: #555;
    font-style: italic;
    letter-spacing: -.02rem;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Custom select box                                    */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.select-css {
    display: block;
    font-family: Arial, sans-serif;
    margin-top: .6rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #000;
    line-height: 1.2;
    padding: .8em 1.4rem .7em 1rem;
    width: 100%;
    border: .1rem solid #e0e0e0;
    border-radius: .4rem;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: #fff;
    background-image: url(../img/down.png),
      linear-gradient(to bottom, #fff, #fff);
    background-repeat: no-repeat, repeat;
    background-position: right 1.2rem top 52%, 0 0;
    background-size: 1.2rem auto, 100%;
    -webkit-transition: border-color .2s ease-in-out !important;
       -moz-transition: border-color .2s ease-in-out !important;
            transition: border-color .2s ease-in-out !important;
    outline: none;
    cursor: pointer;
}
.select-css::-ms-expand {
    display: none;
}

.select-css:hover {
    border: .1rem solid #0078ae;
}

.select-css:focus {
    border: .1rem solid #ccc;
    color: #555;
    outline: none;
}

.select-css option {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    cursor: pointer;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

@-moz-document url-prefix() {
    select, select:-moz-focusring, select::-moz-focus-inner {
       color: transparent !important;
       text-shadow: 0 0 0 #000 !important;
       border:0;
    }
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Fieldset and legend                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.school-reg {
    margin-top: 2.6rem;
    width: 50rem;
}

fieldset {
    border: .1rem solid #e0e0e0;
    background-color: #fff;
}

fieldset + fieldset {
    margin-top: 3rem;
}

.fields {
    padding: 3rem;
}

.form-legend {
    width: 100%;
    height: 3.8rem;
    background-color: #006491;
}

.form-legend h3 {
    margin-left: 2.5rem;
    line-height: 3.8rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

input[type="text"], input[type="email"],
input[type="password"], input[type="phone"] {
    margin-top: .6rem;
    width: 100%;
    height: 4.4rem;
    padding: 0 1rem;
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    background: transparent;
    border: .1rem solid #ccc;
    border-radius: .4rem;
    transition: none;
    -webkit-transition: border-color .2s ease-in-out !important;
       -moz-transition: border-color .2s ease-in-out !important;
            transition: border-color .2s ease-in-out !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border: .1rem solid #0078ae;
}

#signup-btn {
    margin-top: 3rem;
    width: 18rem;
    height: 4.4rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    background-color: #E31837;
    border-radius: .4rem;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

#signup-btn:hover {
    background-color: #aa1229;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Required                                             */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.required-message p {
    margin-top: 3.7rem;
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #555;
}

.required-message p span {
    font-family: Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #dd4b39;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Grid                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

@media screen and (max-width: 479px) {
    .container {
        width: 90%;
        padding: 0;
    }

}

@media screen and (min-width: 480px) and (max-width: 639px) {
    .container {
        width: 90%;
        padding: 0;
    }

}

@media screen and (min-width: 640px) and (max-width: 767px) {
    .container {
        width: 90%;
        padding: 0;
    }
}

@media screen and (min-width: 768px) {
    .container { width: 95%; }
}
