<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" />
    

    <title>First Ajax jQuery</title>

    <style>

        .container{
            background-image: url("images/book-stack.jpg");
            min-height: 2500px;
            left: 70px;
        }
        
      
      

        .is-danger{
           position: absolute;
           top:80px;
           left: 52px;
        }

        #booklist{
            padding: 20px;
            margin-top: 50px;
        }

        h1{
            position: absolute;
            font-size: 26px;
            left: 32px;
            padding: 20px;
        }

    table {
        border-collapse: collapse;
        position: absolute;
        top: 120px;
        left: 50px;
        width: 90%;

        }

    th, td {
        text-align: left;
    
    }


    tr:nth-child(even) {background-color: #f2f2f2;}

    tbody td img{
        height: 140px;
        width: 100px;
    }
    </style>

</head>
<body>

    
<div id="app"> 
      
      <div class="container columns">

        <div class="column is-half is-offset-one-quarter">

          <h1>{{title}}</h1>
          <button class="button is-danger" @click="returnBack()">Book List</button>
          <table v-show="showTable" class="table is-striped is-bordered">
            <thead>
            <tr>  
                <th>Book Id</th>
                <th>Imgae</th>
                <th>Title</th>
                <th>Author</th> 
                <th>Genre</th> 
                <th>Publisher</th> 
                <th>Format</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="book in books">  
              <td v-html="book.book_id"></td>
              <td><a @click="showModal(book.book_id);"  href="#"><img v-bind:src="'images/covers/' + book.image" /></a> </td>
              <td><a href="#" v-html="book.title" @click="showModal(book.book_id);"></td>
              <td><a href="#" v-html="book.author" @click="searchAuthor(book.author_id)"></td> 
             <td><a href="#" v-html="book.genre" @click="searchGenre(book.genre_id)"></td>  
             <td><a href="#" v-html="book.publisher" @click="searchPublisher(book.publisher_id)"></td> 
             <td><a href="#" v-html="book.format" @click="searchFormat(book.format_id)"></td> 
            </tr>
          </tbody>
          </table> <!-- Main Table ends here
 -->
           
        </div>

</div><!-- /.container -->

     <div v-show="showWddModal">

      <div  class="modal is-active" >
      <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box" id="detail" > 

<h3 class="title" v-html="books1.title"></h3>
<div class="columns">
    <div class="column">
        <figure class="image"><img v-bind:src="'images/covers/' + books1.image" /></figure>
    </div>
    <div class="column"> 
        <strong>Title</strong>:<p v-html="books1.title"></p>
        <strong>Year Published</strong>:<p v-html="books1.year_published"></p>
        <strong>Num Page</strong>:<p v-html="books1.num_pages"></p>
        <strong>Price</strong>:<p v-html="books1.price"></p>
        <strong>Author</strong>:<p v-html="books1.author"></p>
        <strong>Publisher</strong>:<p v-html="books1.publisher"></p>
        <strong>Format</strong>:<p v-html="books1.format"></p>
        <strong>Genre</strong>:<p v-html="books1.genre"></p>
        <strong>Description</strong>:<p v-html="books1.description"></p>
    </div>
</div>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close" @click="showWddModal = false" ></button>
    </div> 
</div>
</div>
  

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>
    <script>
        
        
        // Data source defined as property of object passed to Vue
        //outputing data from vue instance
        var app = new Vue({
           el: "#app",
           data: {
              books: [],  
              books1:[],
              //intially setting showTable showWddModal and id to false
              showTable: false ,
              showWddModal: false,
              id:false,  
              title:'BookList',
              book_id:'',
              author_id:''
           }, 
           methods: {  //method use to output modal on click of title and img
                      //and show book details
              showModal: function(new_id) 
              {  
                
                this.id=true; 
                this.book_id=new_id; 
               var self = this;
                 //axios use in vue to get the details out from server.php
                 axios.get('server.php?book_id='+this.book_id)
              .then(function(response){
                self.books1 = response.data;  
                
                
              })
               //finally displaying the table by setting it true
              .finally(function(){
                    self.showTable = true;
              }); 
              
              this.showWddModal=true;
              },
                // searchAuthor method use to output the author details only on the click of the any author
              searchAuthor:function(new_id){
                this.id=true;
                this.author_id=new_id;
                var self = this;
                //axios use in vue to get the details out from server.php
                axios.get('server.php?author_id='+this.author_id)
                .then(function(response){
                  self.books= response.data;
                })
                 //finally displaying the table by setting it true
                .finally(function(){
                  self.showTable=true;
                });

              },
              //searchGenre function use to get only genre details
               searchGenre:function(new_id){
                this.id=true;
                this.genre_id=new_id;
                var self = this;
                  //axios use in vue to get the details out from server.php
                axios.get('server.php?genre_id='+this.genre_id)
                .then(function(response){
                  self.books= response.data;
                })
                //finally displaying the table by setting it true
                .finally(function(){
                  self.showTable=true;
                });

              },
              //searchPublisher use to get publisher details
               searchPublisher:function(new_id){
                this.id=true;
                //publisher_id asign to new id
                this.publisher_id=new_id;
                var self = this;
                axios.get('server.php?publisher_id='+this.publisher_id)
                .then(function(response){
                  self.books= response.data;
                })
                 //finally displaying the table by setting it true
                .finally(function(){
                  self.showTable=true;
                });

              },
               
               searchFormat:function(new_id){
                this.id=true;
                //format_id asign to new_id
                this.format_id=new_id;
                var self = this;
                  //axios use in vue to get the details out from server.php
                axios.get('server.php?format_id='+this.format_id)
                .then(function(response){
                  self.books= response.data;
                })
                 //finally displaying the table by setting it true
                .finally(function(){
                  self.showTable=true;
                });

              },
              returnBack:function(){
                 var self = this;
          
             //axios use in vue to get the details out from server.php 
            axios.get('server.php')
              .then(function(response){
                self.books = response.data;
              })
                //finally displaying the table by setting it true
              .finally(function(){
                self.showTable = true;
              }); 
           
              }


           },

           created: function() {
            
            var self = this;
          
            
            axios.get('server.php')
              .then(function(response){
                self.books = response.data;
              })
              .finally(function(){
                self.showTable = true;
              }); 
           
         
          
           }

        }); 

        
    


       


    </script>
</body>
</html>