body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
    font-family: tahoma;
  }
  
  p{
    font-size: 18px;
  }
  
  header{
    background-color: black;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  header h1{
    color: white;
    border: 4px solid white;
    display: inline-block;
    padding: 6px 12px;
    font-size: 24px;
  }
  
  .banner{
    position: relative;
  }
  
  .banner img{
    background-size: cover;
    background-position: center;
    min-height: 500px;
    max-width: 100%;
  }
  
  .banner .welcome{
    background:transparent;
    color: white;
    padding: 30px;
    position: absolute;
    left: 5%;
    top: 30%;
  
  } 

  .banner .welcome h2{
    font-size: 60px;
  }
  
  .banner .welcome span{
    font-size: 40px;
  }
  
  nav{
    background: black;
    padding: 20px;
    position: sticky;
    top: 80px;
    z-index: 1;
  }
  
  nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  nav li{
    width: 25%;
    display: inline-block;
    font-size: 24px;
  }
  
  nav li a{
    text-decoration: none;
    color:#ffffff;
  }
  
  nav li a:hover{
   border: 2px solid #1b5e20;
   padding: 12px;
  }
  

  
  main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
  }
  
  article h2{
    color:#1b5e20;
    font-size: 48px;
  }
  
  article p{
    line-height: 2em;
    color: #4B4B4B;
  }
  
  article p::first-line{
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .images{
    text-align: center;
    margin: 80px 0;
    white-space: nowrap;
  }
  
  .images li{
    display: inline-block;
    list-style-type: none;
    width: 40%;
    height: 50%;
    margin: 20px 5%;
    position: relative;
  }
  
  .images li:hover{
    top: -4px;
  }
  
  .images li img{
    max-width: 100%;
    max-height: 100%;
  
  }
  
  section.join{
    background: #F4F4F4;
    text-align: center;
    padding: 60px 20px;
    color: #4B4B4B;
  }
  
  section.join h2{
    font-size: 36px;
  }
  
  form input{
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 24px;
    border: 4px solid #4B4B4B;
  }
  
  form input:focus{
    outline: none;
  }
  
  form input:valid{
    border: 4px solid #71d300;
  }
  
  footer{
    background: #000000;
    color: white;
    padding: 10px;
    text-align: center;
  
  }
  
  
  
  /* responsive styles */
  
  
  
  @media screen and (max-width: 1400px){
    .banner .welcome{
      font-size: 40px;
    }
  
  }
  
  
  
  @media screen and (max-width: 960px){
    .banner .welcome h2{
      background: transparent;
      font-size: 40px;
      color: #ffffff;
      padding: 40px;
  
    }
  
    .banner .welcome br{
      display: none;
  
    }

    nav {
      display:none;
    }
  
  }
  
  
  
  @media screen and (max-width: 700px){
    .banner .welcome h2{
      font-size: 35px;
      color: #ffffff;
      padding: 35px;
  
    }
  
    .banner .welcome br{
      display: none;
    }
  
    .banner .welcome span{
      font-size: 1em;
  
    }
  
    nav li{
      font-size: 18px;
  
    }
  
    .images li{
      width: 80%;
      height: 80%;
      display: block;
      margin: 10px auto;
    
    }
  
  
  
  }
  
  
  
  @media screen and (max-width: 560px){
    .banner .welcome h2{
      background: #1b5e20;
      font-size: 30px;
      color: #ffffff;
      padding: 20px;
      
    }

    .banner .welcome{
      font-size: 20px;
      position: relative;
      text-align: center;
      padding-left: 0px;
  
    }
  
    .banner .welcome br{
      display: none;
  
    }
  
    .banner .welcome span{
      font-size: 1em;
  
    }
  
    nav li{
      display: none;
      width: 100%;
      margin: 12px 0;
  
    }
  
    article h2{
      font-size: 36px;
    }
  
    header, nav{
      position: relative;
      top: 0;
  
    }
  
    .images li{
      width: 80%;
      height: 50%;
      display: block;
      margin: 10px 0px;
    
    }
  }