body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-top: 0;                              

}

#wrapper{
    width: 960px;
    background-color: #000;
    margin: 0 auto;
    position: relative;

}

/* body {
box-sizing: border-box;
margin: 0;
}*/

header{
    background-color: #19194d;
    min-height: 80px;
    width: 100%;
}



header #inner_header{
    min-height: 80px;
    width: 960px;
    position: relative;
    margin: 0 auto;
}

header #logo img{              /* Desktop logo displayed and mobile logo set to 
    position: absolute;             display="none"*/
    top: 15px;
    left: 5px;
}

header #logo_mobile img{
    display: none;
}

header #name{                    /* applied text-shadow on header headings and paragraph*/
    font-family: 'Cabin', sans-serif;
    position: absolute;
    top: 20px;
    left: 100px;
    font-size: 30px;
    color: #ffffff;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
}

#name p{
    font-family: 'Cabin', sans-serif;
    position: absolute;
    top: 20px;
    left: 2px;
    font-size: 16px;
    color: #ff6633;
    text-shadow: 0px 2px 2px rgba(0,0,0,0.6);
}




/*****************************************navigation********************************************/
nav{
    height: 40px;
    background-color:#a6a6a6;
    text-align: center;
    margin-top: 0px;
    width: 100%;
 }

nav #navdiv ul{
    margin: 0;
    margin-left: 380px;
}

nav #navdiv ul li{
    display: inline-block;
    list-style-type: none;
}

nav #navdiv ul li a{
    padding: 11px 8px;
    display: block;
    text-decoration: none;
    color:#000;
    font-size:16px;
}

/*nav li.current a{
    color: #fff;
    background: #000;
    text-decoration: none;
}*/

nav #navdiv ul li a:hover{
    color: #fff ;
    background-color: #202060;
}


nav #navdiv li a.breadcrumbs{
    background-color: #202060;
    color: white;
}


nav #navdiv ul li.menu2{
    position: relative;
}

nav #navdiv ul.submenu2{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    left: 1px;
    background-color:#e6b800;
    width: 150px;
    z-index: 1000;
}

nav #navdiv ul.submenu2 li{
    display: block;
    text-align: left;

}

nav #navdiv ul.submenu2 li a{
    padding-left: 16px;
    background-color:#4d2600;
    margin: 3px;
    color: #fff;
    font-size: 12px;
}


nav #navdiv ul li.menu2:hover ul.submenu2{
    display:block;

}

nav #navdiv ul.submenu2 li a:hover{
    cursor: pointer;
    color: #000 ;
    background-color: #cca300;

}


nav ul li.menu3{
    position: relative;
}

nav ul.submenu3{
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 40px;
    left: 1px;
    background-color:#e6b800;
    width: 150px;
    z-index: 1000;
}

nav ul.submenu3 li{
    display: block;
    text-align: left;

}

nav ul.submenu3 li a{
    padding-left: 16px;
    background-color:#4d2600;
    margin: 3px;
    color: #fff;
    font-size: 12px;
}


nav ul li.menu3:hover ul.submenu3{
    display:block;

}

nav ul.submenu3 li a:hover{
    cursor: pointer;
    color: #000 ;
    background-color: #cca300;

}



/*SERVICES*********************************************************************************************/
 #products main{ /* main style start*/
        padding: 1px 10px 1px 10px;
        min-height: 1520px;
        background-color:#fff;
    }
#products .container{
    width: 1000px;
    margin: 0;
    padding: 0;

}

#products table a{
   background-color:#332100;
   text-decoration: none;;
   color: white;
   padding: 12px;
   font-size: 12px;
   border-radius: 4px;
   margin: 10px;
   margin-top: 10px;
}

#products table a:hover{
   background-color:#805500;
   text-decoration: none;;
   color: white;
   padding: 12px;
   font-size: 12px;
   border-radius: 4px;
   margin: 10px;
   margin-top: 10px;
}

#products #srv_img img{
 margin-left: 10px;
 position: relative;
}

#products h1{
    margin-left: 55px;
    color: #fff;
}

   #products input[type=text] {
        width: 70%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        padding: 10px 12px 10px 12px;
        margin-left: 50px;
    }


    #products .button{
        background-color:#ffcc00;
        border: none;
        color: white;
        padding: 12px 20px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10px;
    }


    #products #listview_nav ul{
        margin: 0;
        z-index: 500px;
        padding-left: 10px;

       
    }

    #products #listview_nav ul li{
        display: inline-block;
        list-style-type: none;
        background-color:#332100;
        padding: 8px 10px;
        text-align: center;
        color: #fff;
    }

    #products #listview_nav ul li a {
        padding: 11px 8px;
        display: block;
        text-decoration: none;
        color:#fff;
        font-size:16px;

    }


    #products #listview_nav ul li a:hover{
        color: #fff ;
        background-color: #995c00;
        
    }


    #products #listview_nav li a.navstyle {
        background-color: #ffb900;
    }

    #products #product_search{
        position: absolute;
        top: 100px;
        left:20px;
        width:1000px;
    }

    #products #listview_nav{
        position: absolute;
        top: 400px;
        left:50px;
    }

     #products table{
      border-collapse: collapse;
      width: 100%;
      background-color: white;
    }

    #products table td ul li{
        padding: 3px;
       
    }

    #products  th, td{
      padding: 18px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }


    #products table td img{
        
        width: 200px;
        height: 180px;
        padding: 12px;
     
    }

    #products table h2{
        margin: 10px;
    }

     .success{
        background:  #ffffe6;
        color: red;
        border: 1px solid   #ffffe6;
        text-align: center;
        border-radius: 10px;
        margin-top: 10px;
        line-height: 50px;
        font-size: 16px;
    }

     .error{
        background:  #ffffe6;
        color: green;
        border: 1px solid  #ffffe6;
        text-align: center;
        border-radius: 10px;
        margin-top: 10px;
        line-height: 50px;
        font-size: 16px;
    }


/*LOGS************************************************************************************************/

 #logs main{
     padding: 1px 10px 1px 10px;
     min-height: 820px;
     background-color:#fff;

 }

#logs .container{
    width: 1000px;
 

}

 #logs table {
          border-collapse: collapse;
          width: 100%;
        }

        #logs th{
          text-align: center;
          padding:8px;
          background-color:  #00004d;
          color: #fff;
          font-size: 18px;
          font-weight: normal;
        }

          #logs td{
          text-align: left;
          padding: 10px;
          padding-left: 20px;
          background-color: #cccccc;
          color: #000;
          font-size: 16px;
        }

/*ORDERS****************************************************************************************************/
 
 #orders main{
    padding: 1px 10px 1px 10px;
     min-height: 820px;
     background-color:#fff;

 }

 #oders .container{
    width: 1000px;
 

}

 #orders table {
          border-collapse: collapse;
          width: 100%;
        }

        #orders th{
          text-align: left;
          padding:8px;
          background-color:  #00004d;
          color: #fff;
          font-size: 18px;
          font-weight: normal;
        }

          #orders td{
          text-align: left;
          padding: 10px;
          padding-left: 20px;
          background-color: #cccccc;
          color: #000;
          font-size: 16px;
        }

     
/*USERS*****************************************************************************************************/
    
    #users main{

     padding: 1px 10px 1px 10px;
     min-height: 820px;
     background-color:#fff;

 }

 #users table {
          border-collapse: collapse;
          width: 100%;
        }

        #users th{
          text-align: left;
          padding:8px;
          background-color:  #00004d;
          color: #fff;
          font-size: 18px;
          font-weight: normal;
        }

          #users td{
          text-align: left;
          padding: 10px;
          padding-left: 20px;
          
          font-size: 16px;
        }

/*ADMIN*************************************************************************************************************/
 
   #admin main{
    
     padding: 1px 10px 1px 10px;
     min-height: 700px;
     background-color:#fff;


   }

   #admin .container{

      width:1000px;
      min-height: 600px;
      margin-top: 50px;
    

   }

   #admin table {
          border-collapse: collapse;
          width: 100%;
        }

        #admin th{
          text-align: left;
          padding:15px;
          background-color:  #00004d;
          color: #fff;
          font-size: 20px;
          font-weight: normal;
          border: 1px solid white;
        }

          #admin td{
          text-align: left;
          padding: 15px;
          background-color: #4d0000;
          color: #fff;
          font-size: 20px;
        }
/*EMPLOYEES********************************************************************************************************/
 
 #employees main{

     padding: 1px 10px 1px 10px;
     min-height: 700px;
     background-color:#fff;


 }


   #employees .container{
      
      width:1000px;
      min-height: 600px;
      margin-top: 50px;
    

   }
/*DELETE***********************************************************************************************/



 /************************form**********************************/
        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        label {
            padding: 0;
            display: inline-block;
            

        }

        input[type=submit] {
            background-color: orange;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }

        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }

        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }

       
        .row:after {
            content: "";
            display: table;
            clear: both;
        }


   /********************************edit******************************/
    #edit main{
           padding: 1px 10px 1px 10px;
           min-height: 900px;
           background-color:#fff; 
    }

    #edit .button{
        background-color:#00004d;
        border: none;
        color: white;
        padding: 10px 18px;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px;
    }


/****************************delete********************************************/
     #delete main{
           padding: 1px 10px 1px 10px;
           min-height: 900px;
           background-color:#fff; 
    }

    #delete .button{
        background-color:#00004d;
        border: none;
        color: white;
        padding: 10px 18px;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px;
    }

/*CREATE************************************************************************************************/
   
   #create main{
          padding: 1px 10px 1px 10px;
          min-height: 900px;
          background-color:#fff; 

   }

   #create .button{
        background-color:#00004d;
        border: none;
        color: white;
        padding: 10px 18px;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px;
    }

   
    /***********************************footer*************************************************/
    footer{
        height: 100px;
        background-color: #000;
        width: 100%;
        color: #fff;
    }

    footer p{
        padding: 15px;
        margin: 0;
    } 


    footer #inner_footer{
        min-height: 100px;
        width: 960px;
        position: relative;
        margin: 0 auto;
    }

    #inner_footer strong{
        position: absolute;
        left: 700px;
        top: 70px;
        left: 650px;
    }

    #inner_footer #follow_us{
        position: absolute;
        top: 20px;
        left: 650px;
        height: 40px;
        width: 200px;
        /*border: 1px solid #fff;*/
    }



